/* -------------------------------------------------------------------- */

/* cabeçalho */
header {
    padding: 25px 20px;
    box-shadow: 1px 1px 9px hsla(0, 0%, 0%, 0.2);
}

/* barra de navegação */
nav {
    max-width: 80vw;
}

/* todos os links da barra de navegação */
nav a {
    padding: 1px 5px;
    border-radius: 3px;

    font-size: 18px;
}

nav a, nav p {
    color: #ffffff;
}

nav > ul {
    /* min-width: 600px; */
    min-width: 45vw;
    list-style-type: none;
}

/* links da lista */
nav a:hover {
    text-decoration: underline #ffffff 2px;
}

nav > a#home {
    width: 150px;
}

nav > a#home:hover {
    background-color: #00000015;
}

nav > a#home > h1 > span {
    font-size: 35px;
}

nav > a#home > h1 > span:nth-child(1) {
    color: var(--cor3);
}

nav > a#home > h1 > span:nth-child(2) {
    color: var(--cor2);
}

a.link-nav {
    padding: 0 15px;
}

a#link-nav-1 {
    background-color: var(--cor2);
}

a#link-nav-1:hover {
    background-color: var(--cor2-escura);
}

a#link-nav-2 {
    background-color: var(--cor3);
}

a#link-nav-2:hover {
    background-color: var(--cor3-escura);
}

a#link-nav-3 {
    background-color: var(--cor1);
}

a#link-nav-3:hover {
    background-color: var(--cor1-escura);
}

button#botao-menu {
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
}