@charset "UTF-8";

@media screen and (max-width: 815px) {
    footer {
        height: 36vh;
    }
}

@media screen and (max-width: 1000px) {
    nav {
        flex-direction: row-reverse;
    }

    /* cabeçalho */
    nav > menu {
        position: absolute;
        top: 80px;
        left: 0;
    
        text-align: left;
    
        align-items: normal !important;
        flex-direction: column;
    
        height: 120px;

        opacity: 0;
    }
}

@media screen and (max-width: 1150px) {
    section#aprenda div.aprenda-div-texto-imagem > div {
        max-width: none;
        margin-top: 40px;
    }
}

@media screen and (min-width: 1000px) {
    nav button {
        display: none;
    }
}