/* cabecalho exclusivo */
header#header-play {
    padding: 10px 0;
}

nav#nav-play {
    max-width: 95vw;
}

nav#nav-play > ul > li > a {
    padding: 5px 7.5px;
}

nav#nav-play > ul > li > a > img {
    margin-right: 10px;
}
/* -------------------------------------------------------------------- */

/* conteúdo principal */
main {
    max-width: 95vw;
    height: 78vh;

    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-areas: 
        'porta-cartoes folha-de-saida folha-de-saida gaveteiro'
        'porta-cartoes epi acumulador gaveteiro';
    /* grid-template-columns: 36vw 18vw 18vw 150px; */
    grid-template-columns: auto 18vw 18vw 150px;
    grid-template-rows: 40vh auto;
    column-gap: 4vw;
    row-gap: 2vw;
}
/* -------------------------------------------------------------------- */

section {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}
/* -------------------------------------------------------------------- */

section.visores {
    position: relative;
}
/* -------------------------------------------------------------------- */

/* porta-cartoes */
section#porta-cartoes {
    background-color: var(--cor1);
    grid-area: porta-cartoes;
}
/* -------------------------------------------------------------------- */

/* folha-de-saida */
section#folha-de-saida {
    background-color: var(--cor2);

    grid-area: folha-de-saida;
}
/* -------------------------------------------------------------------- */

/* epi */
section#epi {
    background-color: #915901;
    background-image: url(../img/madeirado.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */

    border-radius: 2px;

    grid-area: epi;
}

section#epi > article {
    height: 83%;
    width: 83%;

    border-radius: 2px;

    background-color: #1d3825;
}

section#epi span {
    font-size: 7.5vw;
}
/* -------------------------------------------------------------------- */

/* acumulador */
section#acumulador {
    background-color: #93A28D;

    border: 10px solid black;
    border-radius: 5px;

    grid-area: acumulador;
}

section#acumulador span {
    font-size: 10vw;
}
/* -------------------------------------------------------------------- */

/* gaveteiro */
section#gaveteiro {
    grid-area: gaveteiro;

    max-height: 78vh;

    background-color: var(--cor3);
}

section#gaveteiro div.div-article-gaveteiro {
    position: relative;
}

section#gaveteiro div.div-article-gaveteiro span {
    position: absolute;
    top: 40px;
    left: 35px;

    transform: skewY(12deg);
}