@charset "UTF-8";

/* --- Setando famílias de fonte padrão importadas para uso no site --- */
@font-face {
    font-family: 'Archivo Black';
    src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url(../fonts/Archivo_Narrow/ArchivoNarrow-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(../fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
/* -------------------------------------------------------------------- */

/* Estabelecendo variáveis de cor */
:root {
    --amarelo: #FFB61C;
    --ciano: #00A8AC;
    --azul: #2129FF;
    --roxo: #8D49FF;
}
/* -------------------------------------------------------------------- */

/* ----------- Resetando propriedades padrões do navegador ------------ */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000000;
}
/* -------------------------------------------------------------------- */

/* Rolagem suave para links na própria página */
html {
    scroll-behavior: smooth;
}

/* Definindo fontes para cada tipo de texto */
.titulo {
    font-family: "Archivo Black";
}

.subtitulo {
    font-family: "Archivo Narrow";
    font-weight: 700;
}

.texto {
    font-family: "Nunito";
}

.codigo {
    font-family: "IBM Plex Mono";
}

/* Cabeçalho */
header {
    padding: 25px 20px;
    box-shadow: 1px 1px 9px #00000067;
}

/* Barra de navegação */
nav {
    max-width: 1300px;
    margin: auto;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style-type: none;
}

nav > ul > li:first-child {
    min-width: 300px;
}

nav > ul > li > a {
    padding: 1px 5px;
    color: #ffffff;
    border-radius: 3px;

    font-size: 18px;
}

nav > ul > li > a:hover {
    text-decoration: underline #ffffff 2px;
}

nav > ul > li > a#home {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > ul > li > a > h1 > span {
    font-size: 35px;
}

nav > ul > li > a > h1 > span:nth-child(1) {
    color: var(--ciano);
}

nav > ul > li > a > h1 > span:nth-child(2) {
    color: var(--amarelo);
}

a#link-nav-instale {
    background-color: var(--roxo);
}

a#link-nav-aprenda {
    background-color: var(--amarelo);
}

a#link-nav-playground {
    background-color: var(--ciano);
}

a#link-nav-doc {
    background-color: var(--azul);
}

a#link-nav-git {
    background-color: var(--azul);
}

/* Conteúdo principal */
main {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
}

/* Títulos principais */
h1#titulo-principal, h2 {
    text-align: center;
    font-size: 60px;

    margin-bottom: 35px;

    /* Configuração para deixar texto gradiente */
    background-image: linear-gradient(to right, var(--ciano), var(--roxo));
    background-clip: text;
    color: transparent;
}

/* Todos os parágrafos dentro do conteúdo principal */
main p {
    text-align: justify;
}

/* Todas as seções dentro da main */
main section {
    margin: auto;
}

/* Conteúdos da seção de descrição do site ------------------------------*/
section#descricao-hv {
    display: flex;
    align-items: center;
    justify-content: space-between;

    min-height: 90vh;
    max-width: 1000px;
}

section#descricao-hv > * {
    max-width: 450px;
}

section#descricao-hv > article > p {
    font-size: 22px;
}

section#descricao-hv > article > button {
    border-radius: 15px;
    border-width: 0;
    padding: 3px 20px;
    background: linear-gradient(90deg, #0D77CC 5.85%, #00A8AC 73%, #0F6ED2 149.38%);

    /* Configurações de centralizam e espaçamento */
    display: block;
    margin: 40px auto 0 auto;
}

section#descricao-hv > article > button > a {
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
}
/* -------------------------------------------------------------------- */

/* Conteúdos da seção de instalação do compilador --------------------- */
section#instale {
    max-width: 60vw;
}

section#instale > article > h3 {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
    color: var(--amarelo);
    font-size: 35px;
}

section#instale > article > ol {
    margin: 40px 0 130px 20px;
}

section#instale > article > ol > li {
    position: relative;
    list-style-position: inside;

    margin-bottom: 10px;
}

section#instale > article > ol > li::marker {
    font-family: "Archivo Black";
    color: #ffffff;
    content: counter(list-item);
}

section#instale > article > ol > li::before {    
    content: "";

    /* centralizando posicionamento */
    position: absolute;
    display: inline-block;
    z-index: -1;
    top: 3px;
    left: -7px;

    /* configurando formato e fundo */
    background-color: var(--ciano);
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

section#instale > article > ol > li > span {
    font-size: 20px;
    color: var(--ciano);

    margin-left: 20px;
}

section#instale > article > ol > li > p {
    font-weight: 400;
    margin-left: 35px;
}

section#instale > article > ol > li > p > code {
    display: block;
    background-color: #FFC958;
    border-radius: 5px;
    padding: 7px 10px;

    color: var(--roxo);
}
/* -------------------------------------------------------------------- */