@use '../defaults/default' as default;
// ------------------------------------------------------------------------------- 
$spacing: 3em;
// ------------------------------------------------------------------------------- 
$header-padding: 0.3em;
$header-height: calc($header-padding * 2 + default.$home-height);
// ------------------------------------------------------------------------------- 
$nav-initial-width: 93vw;
// ------------------------------------------------------------------------------- 
$menu-num-buttons: 5;
$menu-width: calc(($menu-num-buttons + 1.5) * default.$menu-buttons-width);
// ------------------------------------------------------------------------------- 
$main-initial-height: calc(100vh - $header-height);
// ------------------------------------------------------------------------------- 
$debuggers-initial-width: 65%;
// ------------------------------------------------------------------------------- 
$porta-cartoes-initial-width: 30%;
// ------------------------------------------------------------------------------- 
$viewers-initial-size: 30vmin;
$viewers-font-size: calc($viewers-initial-size * 0.4);

$playground-percentual: 0.95;
$playground-initial-height: calc($main-initial-height * $playground-percentual);
// ------------------------------------------------------------------------------- 
$gaveta-width: 146px;
$gaveta-height: 144px;

$gaveta-margin: 0.6em;
// ------------------------------------------------------------------------------- 
$old-paper: #ffe8c4;
$brown-wood: #915901;
$green-board: #1d3825;
$lightgreen-display: #93a28d;
// ------------------------------------------------------------------------------- 
$golden: #b8860b;
$dark-red: #8b0000;
$live-blue: #0000F6;
$nice-green: #008000;
// ------------------------------------------------------------------------------- 
$screen-responsive: (width1: 1320px, width2: 850px, width3: 450px);
// ------------------------------------------------------------------------------- 
$header-responsive-width: 710px;
$tools-buttons-responsive-width: 1485px;
$state-labels-responsive-width: 925px;
// ------------------------------------------------------------------------------- 
$nav-responsive-width: 88vw;

$viewers-responsive-size: calc($playground-initial-height * 0.3);
$viewers-responsive-size2: 12em;

$debuggers-responsive-width: calc($viewers-initial-size + $gaveta-width + $spacing);
$debuggers-responsive-width2: calc($viewers-responsive-size2 + $gaveta-width + $spacing);

$porta-cartoes-responsive-width: calc(100% - $debuggers-responsive-width - $spacing);

$viewers-responsive-font-size: calc($viewers-responsive-size * 0.45);
$viewers-responsive-font-size2: calc($viewers-responsive-size2 * 0.45);

$playground-responsive-height: calc($viewers-responsive-size2 * 3 + $spacing);