@use '../globals' as global;
@use '../defaults/default' as default;
@use './play' as play;
// ------------------------------------------------------------------------------- 
$width1: play.$screen-responsive-width1;
$width2: play.$screen-responsive-width2;
$width3: play.$screen-responsive-width3;;
// ------------------------------------------------------------------------------- 
@mixin main {
    @include global.responsive-height($width3 + 1, $width2, calc(play.$playground-responsive-height * 2 + play.$spacing * 3));
    @include global.responsive-height(0, $width3, calc(play.$playground-responsive-height * 3 + play.$spacing * 3));
}

@mixin playground {
    @media screen and (min-width: 0) and (max-width: $width2) {
        max-width: play.$nav-responsive-width;
    }

    @include global.responsive-width(0, $width2, calc(play.$debuggers-responsive-width + play.$spacing));
    @include global.responsive-flex-direction(0, $width2, $direction: column);
    
    @include global.responsive-height(0, $width3, 98%);
}

@mixin porta-cartoes {
    @include global.responsive-width($width2 + 1, $width1, play.$porta-cartoes-responsive-width);

    @include global.responsive-width(0, $width2, 100%);
    @include global.responsive-height(0, $width2, play.$playground-responsive-height);
}

@mixin debuggers {
    @include global.responsive-width($width2, $width1, play.$debuggers-responsive-width);

    @include global.responsive-height($width3 + 1, $width2, play.$playground-responsive-height);
    @include global.responsive-width(0, $width2, 100%);

    @include global.responsive-height(0, $width3, calc(play.$playground-responsive-height * 2 + play.$spacing));
    @include global.responsive-flex-direction(0, $width3, $direction: column);
}

@mixin debuggers-childs-flex {
    @include global.responsive-flex-direction(0, $width1, $direction: column);
}

@mixin debuggers-childs-size {
    @include global.responsive-width($width3 + 1, $width1, fit-content);
    @include global.responsive-height($width3 + 1, $width1, 100%);

    @include global.responsive-height(0, $width3, play.$playground-responsive-height);
}

@mixin viewers-childs {
    @include global.responsive-size($width2 + 1, $width1, play.$viewers-responsive-size);
    @include global.responsive-size(0, $width2, play.$viewers-responsive-size2);
}

@mixin gaveteiro {
    @media screen and (min-width: 0) and (max-width: $width3) {
        height: 50%;
    }
}

@mixin scrollgaveteiro {
    @media screen and (min-width: 0) and (max-width: $width1) {
        height: 100%;
        overflow-x: hidden;

        padding-right: 0.8em;
    }
}

@mixin gavetas {
    @media screen and (min-width: 0) and (max-width: $width1) {
        margin: 0;
    }
}