@use '../globals' as global;
/* -------------------------------------------------------------------- */
$modal-border: 1em;
/* -------------------------------------------------------------------- */
@mixin modal {
	display: none;
}

@mixin header-footer($border-top, $border-bottom) {
	height: 10%;

	background: global.$fade-default;

	border-top-left-radius: $border-top;
	border-top-right-radius: $border-top;

	border-bottom-left-radius: $border-bottom;
	border-bottom-right-radius: $border-bottom;
}
/* -------------------------------------------------------------------- */
.mymodal {
	background-color: #00000030;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	@include global.size(100vw, 100vh);
	@include global.flex($justify: center);
	@include modal;

	.modal-body {
		background-color: white;
		border-radius: $modal-border;

		@include global.defaultText;

		> * {
			padding: 0 15px;
		}

		.modal-header {
			@include header-footer($modal-border, 0);
			@include global.flex;

			button.close {
				padding: 0;
				border-radius: 50%;
				font-weight: bolder;
				font-size: 1.55em;
				
				@include global.setFont('default');
				@include global.size(40px);
			}
		}

		.modal-footer {
			@include header-footer(0, $modal-border);
			@include global.flex($justify: center)
		}

		h2 {
			color: white;
		}

		form {
			@include global.flex($direction: column);
			
			label {
				font-weight: bold;
			}
			
			input {
				width: 3em;
				font-size: 1em;
			}
		}
	}
}

/* -------------------------------------------------------------------- */
#config-modal {
	.modal-body {
		@include global.size(calc(100vh * 0.5));
		
		.modal-main {
			height: 80%;
		}
		
		button#save-configs {
			font-size: 1.3em;
			
			padding: 0;
			width: 5em;
		}
	}
}
/* -------------------------------------------------------------------- */
#cartao-modal {
	.modal-body {
		$width: 50vh;
		$height: 15vh;

		@include global.size($width, $height);
		@include global.flex($justify: center);
		
		.modal-main {
			width: 100%;

			@include global.flex;
			
			form {
				width: 75%;
				
				input {
					width: 100%;
					text-align: center;
					font-size: 3em;
					
					@include global.setFont('dotted');
				}
			}

			button#submit-card {
				width: 20%;
				padding: 0;
			}
		}
	}
}