@use '../globals' as global;
@use '../playground/play' as play;
/* -------------------------------------------------------------------- */
.mymodal {
	$modal-border: 1em;

	background-color: #00000030;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	@include global.size(100vw, 100vh);
	@include global.flex($justify: center);

	.modal-body {
		background-color: white;
		border-radius: $modal-border;

		max-width: 92%;

		@include global.flex($direction: column, $align: normal);
		@include global.defaultText;

		> * {
			padding: 0 15px;
		}

		.modal-header {
			@include global.rounded-border($modal-border, 0);
			@include global.flex;

			h2 {
				font-size: 1.4em;
				color: white;
			}

			.close {
				padding: 0;
				border-radius: 50%;
				font-weight: bolder;
				font-size: 1.4em;
				
				@include global.setFont('default');
				@include global.size(1.1em);
			}
		}

		.modal-footer {
			@include global.rounded-border(0, $modal-border);
			@include global.flex($justify: center)
		}

		form {
			@include global.flex($direction: column);
			
			label {
				font-weight: bold;
			}
			
			input {
				width: 3em;
				font-size: 1em;
			}
		}
	}
}

/* -------------------------------------------------------------------- */
#config-modal {
	.modal-body {
		@include global.size(calc(100vh * 0.5));
		
		.modal-header {
			background: global.$fade-default;
			
			h2 {
				@include global.setFont(text);
			}
		}

		.modal-main {
			height: 60%;

			#delay {
				width: 3.5em;
				text-align: center;
			}
		}

		.modal-footer {
			height: 10%;
			background: global.$fade-default;
			
			#save-configs {
				font-size: 1em;
				height: 85%;
				
				padding: 0;
				width: 5em;
			}
		}
	}
}
/* -------------------------------------------------------------------- */
#card-modal {
	.modal-body {
		$width: 50vh;
		$height: 15vh;

		@include global.size($width, $height);
		@include global.flex($justify: center);
		
		.modal-main {
			width: 100%;

			@include global.flex;
			
			form {
				width: 75%;
				border: 1px solid rgba(0, 0, 0, 0.2);
				
				input {
					width: 100%;
					text-align: center;
					font-size: 3em;
					
					@include global.setFont('dotted');
				}
			}

			#submit-card {
				width: 20%;
				padding: 0;
			}
		}
	}
}
/* -------------------------------------------------------------------- */
#error-modal {
	background-color: rgba(139, 0, 0, 0.4);

	.modal-body {
		width: 25em;
		height: 20vh;

		.modal-header {
			height: 35%;

			background: play.$dark-red;

			h2 {
				@include global.setFont(code);
			}

			.close {
				background: play.$dark-red;

				&:hover {
					background: white !important;
					color: play.$dark-red;
				}
			}
		}

		.modal-main {
			height: 65%;
			text-align: center;

			@include global.middle;
			@include global.setFont(code);
		}
	}
}
/* -------------------------------------------------------------------- */
#help-modal {
	.modal-body {
		overflow: auto;
		font-size: 1em;

		max-height: 95%;

		table {
			padding: 0;
		}
	}
}
/* -------------------------------------------------------------------- */
#rating-modal {
	.modal-body {
		width: 23em;
		min-height: 11em;

		.modal-header {
			background-color: global.$color2-dark;
			
			h2 {
				font-size: 1.55em;
				@include global.setFont(subtitle);
			}

			#close-rating {
				background: white;
				color: global.$color2-dark;

				&:hover {
					background: global.$color2;
					color: white;
				}
			}
		}

		.modal-main {
			font-size: 1.1em;
			text-align: center;

			#rating {
				font-size: 1.5em;
				color: global.$color2;

				border-radius: 1em;
				padding: 0 0.4em;

				transition: 0.5s;

				&:hover {
					background-color: global.$color2;
					color: white;
				}
			}
		}

		.modal-footer {
			background-color: global.$color2-dark;
			padding-top: 0.2em;
			padding-bottom: 0.2em;

			justify-content: end;

			#dont-ask {
				font-size: 0.75em;
				padding: 0.1em 0.5em;

				background: white;
				color: global.$color2-dark;

				&:hover {
					background: global.$color2;
					color: white;
				}
			}
		}
	}
}