@use 'sass:map';
/* -------------------------------------------------------------------- */
@use '../globals' as global;
@use './play' as play;
@use '../defaults/default' as default;
/* -------------------------------------------------------------------- */
$width1: map.get(play.$screen-responsive, width1);
$width2: map.get(play.$screen-responsive, width2);
$width3: map.get(play.$screen-responsive, width3);
/* -------------------------------------------------------------------- */
@mixin portacartoes-viewers {
    @include global.shadow($length1: 3px, $blur: 5px, $transparency: 0.2);
}

@mixin numbers($top, $right, $deg, $width, $height) {
    top: $top;
    right: $right;

    transform: skewY(#{$deg}deg);

    @include global.size($width, $height);
}
/* -------------------------------------------------------------------- */
main {
    @include global.middle;
    @include global.center;
    @include global.size(100%, play.$main-initial-height);
    
    @media screen and (min-width: ($width3 + 1)) and (max-width: $width2) {
        height: calc(play.$playground-responsive-height * 2 + play.$spacing * 3);
    }

    @media screen and (max-width: $width3) {
        height: calc(play.$playground-responsive-height * 3 + play.$spacing * 3);
    }
    
    #playground {
        @include global.flex;
        @include global.size(play.$nav-initial-width, play.$playground-percentual * 100%);

        @media screen and (max-width: $width2) {
            max-width: play.$nav-responsive-width;

            flex-direction: column;
            width: calc(play.$debuggers-responsive-width2 + play.$spacing);
        }

        @media screen and (max-width: $width3) {
            height: 98%;
        }
        
        .tooltip {
            z-index: 1;

            .tooltip-text {
                font-size: 1.1em;
            }
        }

        #porta-cartoes {
            $font-size: 2em;

            text-align: center;
            background-color: play.$old-paper;
            
            @include global.flex($justify: center);
            @include global.size(play.$porta-cartoes-initial-width, 100%);
            
            @include portacartoes-viewers;

            @media screen and (min-width: ($width2 + 1)) and (max-width: $width1) {
                width: play.$porta-cartoes-responsive-width;
            }

            @media screen and (max-width: $width2) {
                @include global.size(100%, play.$playground-responsive-height);
            }
            
            #scroll-tablecards {
                width: 100%;
                max-height: 100%;

                overflow-y: auto;

                #cards {
                    width: 100%;
                    border-spacing: 0.5em;

                    tr { 
                        background-color: global.$white;

                        &:hover {
                            background-color: global.$lightgray;
                        }
                        
                        td {
                            padding: 0.25em 0;
                            border: 0.05em solid global.$black;
                            
                            font-size: $font-size;
                            @include global.setFont(dotted);
                        }
                    }
                }
            }

            #editor {
                font-size: $font-size;
                @include global.size(100%);

                &, * {
                    background-color: play.$old-paper;

                    @include global.setFont(code);
                }

                .cm-scroller {
                    overflow-x: hidden;
                }

                .cm-lineNumbers > * {
                    font-size: 0.9em;
                    user-select: none;
                }
                
                br {
                    content: inherit;
                }
            }

            .tooltip {
                left: default.$tooltip-size-arr;
                bottom: default.$tooltip-size-arr;

                &::after {
                    @include global.tooltip-top(default.$tooltip-size-arr);
                }
            }
        }
        
        .debuggers {
            @include global.flex;
            @include global.size(play.$debuggers-initial-width, 100%);
            
            @media screen and (min-width: ($width2 + 1)) and (max-width: $width1) {
                width: play.$debuggers-responsive-width;
            }

            @media screen and (min-width: ($width3 + 1)) and (max-width: $width2) {
                height: play.$playground-responsive-height;
            }

            @media screen and (max-width: $width2) {
                width: 100%; 
            }
            
            @media screen and (max-width: $width3) {
                flex-direction: column;
                height: calc(play.$playground-responsive-height * 2 + play.$spacing);
            }

            > * {
                width: 100%;
            }

            .viewers {
                $radius: 0.2em;

                @include global.flex;

                @media screen and (max-width: $width1) {
                    flex-direction: column;
                }

                @media screen and (min-width: ($width3 + 1)) and (max-width: $width1) {
                    @include global.size(fit-content, 100%);
                }

                @media screen and (max-width: $width3) {
                    height: play.$playground-responsive-height;
                }

                > * {
                    aspect-ratio: 1/1;

                    @include global.middle;
                    @include global.size(play.$viewers-initial-size, auto);
                    
                    @include portacartoes-viewers;

                    @media screen and (min-width: ($width1 + 1)) {
                        max-width: 30%;

                        .viewers-values {
                            font-size: play.$viewers-font-size;
                        }
                    }
                    @media screen and (min-width: ($width2 + 1)) and (max-width: $width1) {
                        width: play.$viewers-responsive-size;

                        .viewers-values {
                            font-size: play.$viewers-responsive-font-size;
                        }
                    }

                    @media screen and (max-width: $width2) {
                        width: play.$viewers-responsive-size2;

                        .viewers-values {
                            font-size: play.$viewers-responsive-font-size2;
                        }
                    }
                }
        
                #contorno-epi {
                    border-radius: $radius;
                    background-color: play.$brown-wood;
        
                    #epi {
                        border-radius: $radius;
                        background-color: play.$green-board;

                        @include global.middle;
                        @include global.size(88%);
        
                        #epi-value {
                            scale: 1.1;
                            color: global.$white;

                            @include global.setFont(chalk);
                        }
                    }
                }
        
                #acumulador {
                    $border-width: 0.5em;
                    
                    background-color: play.$lightgreen-display;
                    
                    border-radius: $radius;
                    border: $border-width ridge global.$black;
        
                    #acumulador-value, #overlay {
                        @include global.absolute-middle;
                        @include global.setFont(segment);
        
                        &#overlay {
                            user-select: none;
                            color: #{global.$black}15;
                        }
                    }
                }

                #folha-de-saida {
                    @include global.background($image: 'playground/notepad', $size: contain);
        
                    #saida-value {
                        scale: 1.5;
                        margin-top: 0.3em;
    
                        @include global.setFont(cursive);
                    }
                }

                .tooltip {
                    bottom: default.$tooltip-size-arr;

                    &::after {
                        @include global.tooltip-top(default.$tooltip-size-arr);
                    }
                }
            }

            #gaveteiro {
                user-select: none;

                @include global.middle;

                @media screen and (min-width: ($width3 + 1)) and (max-width: $width1) {
                    @include global.size(fit-content, 100%);
                }

                @media screen and (max-width: $width3) {
                    height: play.$playground-responsive-height;
                }

                .drawer, .little-drawer {
                    filter: drop-shadow(4px 7px 2px #{global.$black}80);

                    @include global.animation(twink, 1.5s, 1);
                    @include global.background($image: 'playground/gaveteiro', $repeat: no-repeat, $size: contain, $position: 0);

                    &.default {
                        animation: inherit;
                        filter: brightness(0.5);
                    }

                    &.code {
                        filter: hue-rotate(300deg);
                    }
                    
                    &.data {
                        filter: hue-rotate(210deg);
                    }

                    &.pointed {
                        filter: hue-rotate(110deg);
                    }
                }

                #scroll-gaveteiro {
                    overflow: auto;
                    
                    @include global.flex($wrap: nowrap);

                    @media screen and (max-width: $width1) {
                        height: 100%;
                        overflow-x: hidden;
                        flex-direction: column;

                        padding-right: 0.8em;
                    }

                    .drawer {
                        min-width: play.$gaveta-width;
                        min-height: play.$gaveta-height;

                        @media screen and (max-width: $width1) {
                            margin: 0 !important;
                        }

                        &:hover {
                            filter: hue-rotate(45deg);
                        }

                        &:not(:first-child, :last-child) {
                            margin: 0 play.$gaveta-margin;
                        }
                        
                        &:first-child {
                            margin-right: play.$gaveta-margin;
                        }

                        &:last-child {
                            margin-left: play.$gaveta-margin;
                        }

                        div {
                            position: absolute;

                            @include global.middle;

                            &:first-child {
                                @include numbers(40px, initial, 13, 88px, 86px);
                            }

                            &:last-child {
                                @include numbers(42px, 0, -28, 50px, 75px);
                            }

                            span {
                                color: global.$white;

                                @include global.setFont(mono);

                                &.num-drawer {
                                    font-size: 2em;
                                    font-weight: bold;
                                }

                                &.cont-drawer {
                                    font-size: 1.5em;
                                }
                            }
                        }
                    }
                }

                .tooltip {
                    $drawer-size: 2em;

                    bottom: 100%;

                    @media screen and (max-width: $width1) {
                        align-items: start;
                        flex-direction: column;
                    }

                    @media screen and (min-width: ($width3 + 1)) and (max-width: $width1) {
                        bottom: inherit;
                        right: calc(100% + default.$tooltip-size-arr * 2);
                    }

                    &::after {
                        @media screen and ((max-width: $width3) or (min-width: ($width1 + 1))) {
                            @include global.tooltip-bottom(default.$tooltip-size-arr);
                        }

                        @media screen and (min-width: ($width3 + 1)) and (max-width: $width1) {
                            @include global.tooltip-right(default.$tooltip-size-arr);
                        }
                    }

                    .tooltip-text {
                        line-height: $drawer-size;
                    }

                    div {
                        $spacing: calc($drawer-size/4);

                        @include global.flex($wrap: nowrap);

                        .little-drawer {
                            @include global.size($drawer-size);
                        }

                        span {
                            margin-left: $spacing;
                        }

                        &:not(:last-child) span {
                            margin-right: $spacing;
                        }
                    }
                }
            }
        }

        #debug-menu {
            width: 100%;

            left: 0;
            bottom: 0;
            z-index: 999;
            position: fixed;

            transition: 0.5s;

            @include global.hidden;

            menu {
                $width: 15em;
                $height: calc($width/3);
                $border-radius: 1em;

                max-width: 90%;

                padding: 1em 0.5em;
                background-color: global.$lightgray;

                border: 0.3em ridge global.$black;

                border-bottom: none;

                @include global.flex;
                @include global.center;
                @include global.size($width, $height);
                @include global.rounded-border($border-radius, 0);

                li {
                    $radius: 20%;
                    $color: global.$black;
                    $size-icon: calc($height/2);
                    $size-border: calc($size-icon/2);

                    cursor: pointer;
                    filter: brightness(0.5);
                    
                    border: $size-border solid transparent;

                    @include global.middle;

                    &#back {
                        border-left-width: 0;
                        border-right-width: calc($size-icon);

                        border-radius: $radius;
                        border-right-color: $color;
                        
                        &:hover {
                            border-right-color: play.$live-blue;
                        }

                        .tooltip::after {
                            @include global.tooltip-bottom(default.$tooltip-size-arr, 75%);
                        }
                    }

                    &#forth {
                        border-right-width: 0;
                        border-left-width: calc($size-icon);
                        
                        border-radius: $radius;
                        border-left-color: $color;
                        
                        &:hover {
                            border-left-color: play.$live-blue;
                        }

                        .tooltip::after {
                            @include global.tooltip-bottom(default.$tooltip-size-arr, 25%);
                        }
                    }

                    &#pause-continue {
                        @include global.size($size-icon);

                        border-right-width: 0;

                        border-left-width: calc($size-icon);
                        border-left-color: play.$nice-green;

                        &.pause {
                            border-style: double;
                            border-color: play.$nice-green;
                            
                            border-width: 0 0 0 $size-icon;
                            
                            .tooltip {
                                bottom: 125%;
                            }
                        }

                        .tooltip {
                            margin-right: $size-icon;

                            &::after {
                                @include global.tooltip-bottom(default.$tooltip-size-arr);
                            }
                        }
                    }

                    &#finish {
                        border-color: play.$dark-red;

                        .tooltip::after {
                            @include global.tooltip-bottom(default.$tooltip-size-arr);
                        }
                    }

                    &:hover {
                        scale: 1.05;
                        filter: brightness(1);
                    }

                    &:active {
                        filter: contrast(0.5);
                    }

                    .tooltip {
                        width: max-content;
                        bottom: calc($size-border * 1.5);
                    }
                }
            }
        }
    }
}

.fixed-container {
    z-index: 99;
    position: fixed;

    right: default.$fixed-distance;
    bottom: default.$fixed-distance;

    .contracted {
        transition: 0.5s;

        .tooltiper {
            margin-bottom: default.$fixed-distance;
        }
    }

    .tooltiper {
        $size: default.$fixed-size * 1.5;

        @include global.size($size);
        
        > *:not(.tooltip) {
            @include global.circle;
            @include global.size(100%);

            &.home {
                @include global.faded-button(home);
            }

            &#clear {
                @include global.faded-button(rubber);
            }

            &#help {
                @include global.faded-button(info);
            }

            &.expand {
                transition: 0.5s;
                transform: rotate(-180deg);

                @include global.faded-button(caret, no);

                &.contract {
                    transform: none;
                }
            }
        }

        .tooltip {
            top: calc($size/4);
            right: calc(100% + default.$tooltip-size-arr + 0.2em);

            height: 1.6em;

            &::after {
                @include global.tooltip-right(default.$tooltip-size-arr);
            }

            .tooltip-text {
                width: max-content;
            }
        }
    }
}