@use '../globals' as global;
@use './play' as play;
@use './responsiveplay' as responsive;
/* -------------------------------------------------------------------- */
@mixin portacartoes-viewers {
    @include global.shadow($length1: 3px, $blur: 5px, $transparency: 0.2);
}

@mixin numbers($top, $right, $deg, $width, $height) {
    top: $top;
    right: $right;

    transform: skewY(#{$deg}deg);

    @include global.size($width, $height);
}
/* -------------------------------------------------------------------- */
main {
    @include global.middle;
    @include global.center;
    @include global.size(play.$main-initial-width, play.$main-initial-height);

    @include responsive.main;
    
    #playground {
        @include global.flex;
        @include global.size(100%, 95%);

        @include responsive.playground;

        #porta-cartoes {
            text-align: center;
            background-color: #ffe8c4;
            
            overflow-y: auto;
            overflow-x: hidden;
            
            @include global.size(play.$porta-cartoes-initial-width, 100%);
            @include global.flex($justify: center);
            
            @include portacartoes-viewers;
            @include responsive.porta-cartoes;
            
            #cards {
                width: 100%;
                border-spacing: 0.5em;

                tbody {
                    tr { 
                        background-color: white;

                        &:hover {
                            background-color: global.$color1-dark;
                        }
                        
                        td {
                            border: 0.05em solid black;
                            padding: 0.25em 0;

                            font-size: 2em;
                            @include global.setFont(dotted);
                        }
                    }
                }
            }

            #editor {
                font-size: 2em;
                @include global.size(100%);

                &, * {
                    background-color: #ffe8c4;
                }
                
                #content * {
                    @include global.setFont(mono);
                }

                .cm-lineNumbers > * {
                    font-size: 0.9em;

                    @include global.setFont(code);
                }
                
                br {
                    content: inherit;
                }
            }
        }
        
        .debuggers {
            @include global.flex($align: normal, $direction: column, $justify: space-around);
            @include global.size(play.$debuggers-initial-width, 100%);

            @include responsive.debuggers;

            > * {
                width: 100%;
            }

            .viewers {
                @include global.flex;

                @include responsive.debuggers-childs;
                @include responsive.viewers;

                > * {
                    @include global.size(play.$viewers-initial-size);
                    
                    @include portacartoes-viewers;
                    @include responsive.viewers-childs;
                }

                span {
                    font-size: calc(play.$viewers-responsive-size * 0.6);
                }

                #folha-de-saida {
                    @include global.middle;
                    @include global.background($image: 'playground/notepad', $size: contain);
        
                    span {
                        margin-top: 0.1em;

                        @include global.setFont(cursive);
                    }
                }
        
                #contorno-epi {
                    $border: 2px;

                    border-radius: $border;

                    @include global.middle;
                    @include global.background($color: play.$brown-wood, $image: 'playground/madeirado', $size: cover);
        
                    #epi {
                        background-color: play.$green-board;
                        border-radius: $border;

                        @include global.middle;
                        @include global.size(90%);
        
                        span {
                            @include global.setFont(chalk);
                            color: white;
                        }
                    }
                }
        
                #acumulador {
                    background-color: play.$lightgreen-display;
        
                    border: 10px ridge black;
                    border-radius: 5px;
        
                    position: relative;
        
                    span {
                        font-size: calc(play.$viewers-initial-size * 0.44);

                        @include global.absolute-middle;
                        @include global.setFont(segment);
        
                        &#overlay {
                            color: rgba(0, 0, 0, 0.08);
                            user-select: none;
                        }
                    }
                }
            }

            #gaveteiro {
                overflow: scroll;
                scroll-behavior: smooth;

                @include global.flex($wrap: nowrap);

                @include responsive.debuggers-childs;
                @include responsive.gaveteiro;

                .drawer {
                    min-width: play.$gaveta-width;
                    min-height: play.$gaveta-height;
                    
                    position: relative;
                    margin: 0 play.$gaveta-margin;

                    filter: drop-shadow(4px 7px 2px rgba(0, 0, 0, 0.5));

                    @include global.background($image: 'playground/gaveteiro', $repeat: no-repeat);
                    
                    & {
                        @include responsive.gavetas;
                    }

                    &:hover {
                        filter: hue-rotate(45deg);
                    }

                    &.default {
                        animation: inherit;
                        filter: brightness(0.5);
                    }

                    &.highlight {
                        filter: drop-shadow(4px 7px 2px rgba(0, 0, 0, 0.5));
                        @include global.animation(twink, 1.5s, 1);
                    }

                    &.pointed {
                        filter: hue-rotate(45deg);
                    }
                    
                    &:first-child {
                        margin: 0 play.$gaveta-margin 0 0;
                        @include responsive.gavetas;
                    }

                    &:last-child {
                        margin: 0 0 0 play.$gaveta-margin;
                        @include responsive.gavetas;
                    }

                    div {
                        position: absolute;

                        @include global.middle;

                        &:first-child {
                            @include numbers(40px, initial, 13, 88px, 86px);
                        }

                        &:last-child {
                            @include numbers(42px, 0, -28, 50px, 75px);
                        }

                        span {
                            color: #ffffff;

                            @include global.setFont(mono);

                            &.num-drawer {
                                font-weight: bold;
                                font-size: 2em;
                            }

                            &.cont-drawer {
                                font-size: 1.5em;
                            }
                        }
                    }
                }
            }
        }
    }
}

aside {
    $distance: 0.3em;

    position: fixed;
    bottom: $distance;
    right: $distance;

    z-index: 999;

    .botao {
        border-radius: 50%;
        padding: 0.2em;

        @include global.middle;
    }
}