$nav-width: 90vw;
// ------------------------------------------------------------------------------- 
$home-width: 7em;
$home-height: 45px;
$home-responsive-width: 300px;
// ------------------------------------------------------------------------------- 
$menu-buttons-width: 140px;
$menu-buttons-height: 35px;
/* -------------------------------------------------------------------- */
$menu-num-buttons: 3;
$menu-width: calc($menu-buttons-width * ($menu-num-buttons + 1));
// ------------------------------------------------------------------------------- 
$scrollbar-width: 0.8rem;
// ------------------------------------------------------------------------------- 
$tooltip-size-arr: 5px;
// ------------------------------------------------------------------------------- 
$copy-size: 32px;
// ------------------------------------------------------------------------------- 
$font-size: 1.4em;
// ------------------------------------------------------------------------------- 
$transparency-menu: dd;
// ------------------------------------------------------------------------------- 
$fixed-size: 2em;
$fixed-distance: 0.3em;
// ------------------------------------------------------------------------------- 
$max-width-mobile: 768px;