$home-height: 50px;
$burger-height: 54px;
// ------------------------------------------------------------------------------- 
$menu-buttons-width: 140px;
$menu-buttons-height: 35px;
// ------------------------------------------------------------------------------- 
$scrollbar-width: 0.8rem;
// ------------------------------------------------------------------------------- 
$tooltip-height: 1.7em;
$tooltip-size-arr: 5px;
$tooltip-padding-x: 0.8em;
// ------------------------------------------------------------------------------- 
$copy-size: 32px;
// ------------------------------------------------------------------------------- 
$font-size: 1.4em;
$screen-font-responsive: 500px;
// ------------------------------------------------------------------------------- 
$transparency-menu: dd;