$home-height: 50px;
// ------------------------------------------------------------------------------- 
$menu-buttons-height: 35px;
$menu-buttons-width: 140px;
// ------------------------------------------------------------------------------- 
$scrollbar-width: 1rem;
// ------------------------------------------------------------------------------- 
$tooltip-height: 1.7em;
$tooltip-padding-x: 0.8em;
$tooltip-size-arr: 5px;