@use '../globals' as global;
@use './default' as default;
// ------------------------------------------------------------------------------- 
$body-color: #1d1d1d;
$header-color: #131313;
$primary-menu-color: $header-color + default.$transparency-menu;
$tooltip-color: #464646;
$pre-code-color: #b0b0b0;
$sticky-nav-color: #313131;
$modal-color: #333333;
/* -------------------------------------------------------------------- */
.darkmode {
    background-color: $body-color;

    header {
        background-color: $header-color;

        .primary-menu {
            background-color: $primary-menu-color !important;
        }
    }

    ul, p, figcaption {
        color: global.$white;

        :not(mark, mark > *) {
            color: global.$white;
            
            &.marked {
                text-decoration-color: global.$white;
            }
        }
    }

    .pre-code {
        background-color: $pre-code-color;
    }

    #sticky-nav menu {
        background-color: $sticky-nav-color;
        
        * {
            color: global.$white;
        }
    }

    .tooltip {
        background-color: $tooltip-color;

        &::after {
            border-color: $tooltip-color;
        }
    }

    .modal-body {
        background-color: $modal-color !important;

        .modal-main {
            color: global.$white;

            form {
                * {
                    color: global.$white;
                }
                
                input:not([type="checkbox"]), select {
                    border-color: global.$white;
                    background-color: $modal-color;
                }

                input[type="checkbox"] {
                    &:not(:checked):after {
                        background-color: global.$gray;
                    }

                    &:checked {
                        background-color: global.$color1 !important;
                    }
                }
            }
        }
    }
}