@use '../globals' as global;
/* -------------------------------------------------------------------- */
footer {
    background: global.$fade-default;

    padding: 2em 0;

    * {
        color: global.$white;
        text-align: center;
    }

    section {
        @include global.flex($justify: space-around);
        
        article {
            @include global.size(22em, 10em);
            
            &:nth-child(2) {
                @include global.flex($justify: space-evenly, $direction: column);
            }
            
            ul {
                list-style-type: none;
                padding-left: 0;

                @include global.defaultText;
            }

            p:first-child, div p:first-child {
                font-weight: 700;
            }
            
            a:hover {
                text-decoration: underline;
            }
        }
    }
}