@use '../globals' as global;
/* -------------------------------------------------------------------- */
footer {
    background: global.$fade-default;

    padding: 30px 0;

    * {
        color: #ffffff;
        text-align: center;
    }

    section {
        @include global.flex($justify: space-around);
        @include global.center;

        max-width: 90vw;
        
        article {
            @include global.size(350px, 160px);
            
            &:nth-child(2) {
                @include global.flex($justify: space-evenly, $direction: column);
            }
            
            ul {
                list-style-type: none;

                @include global.defaultText;
            }

            p:first-child, div p:first-child {
                font-weight: 700;
            }
            
            a:hover {
                text-decoration: underline;
            }
        }
    }
}