@use '../globals' as global;
/* -------------------------------------------------------------------- */
$home-height: 51px;
$buttons-height: 32px;

$index-responsive-width: 1064px;
$index-header-padding: 25px;
$index-header-height: calc($index-header-padding * 2 + $home-height);
$index-nav-width: 80vw;

$play-responsive-width: 1110px;
$play-header-padding: 0.3em;
$play-header-height: calc($play-header-padding * 2 + $home-height);
$play-nav-width: 95vw;
$play-menu-width: calc(5 * 140px);
/* -------------------------------------------------------------------- */
@mixin actions {
    border-radius: 10px;
    padding: 1px 5px;
    font-size: 1.5em !important;
}

@mixin responsive-menu($top, $items) {
    position: absolute;
    z-index: 999;
    top: $top;
    right: 0;
    
    height: calc($items * $buttons-height * 1.2);

    align-items: end !important;
    flex-direction: column;

    width: fit-content !important;
    min-width: fit-content !important;

    padding: 15px;
    border-radius: 0 0 5px 5px;
    background-color: #00000020;
}
/* -------------------------------------------------------------------- */
header {
    box-shadow: 1px 1px 9px #00000033;
    
    &#header-index {
        padding: 25px 0;

        nav {
            max-width: $index-nav-width;
        }

        menu {
            min-width: 45vw;

            @media screen and (max-width: $index-responsive-width) {
                @include responsive-menu(calc($index-header-height - $index-header-padding), 3);
            }
        }

        @media screen and (max-width: $index-responsive-width) {
            position: sticky;
            top: 0;

            background-color: white;

            z-index: 1;
        }
    }    

    &#header-play {
        padding: $play-header-padding 0;

        nav {
            max-width: $play-nav-width;

            menu {
                width: calc($play-menu-width * 1.2);

                @media screen and (max-width: $play-responsive-width) {
                    @include responsive-menu(calc($play-header-height - $play-header-padding), 5);
                }

                button {
                    padding: 0 0.4em;

                    cursor: pointer;

                    img {
                        margin: 0 0.6em 0 0;
                    }
                }
            }
        }
    }

    nav {
        @include global.flex();
        @include global.center;

        position: relative;

        a {
            @include actions;

            color: white;

            &:hover {
                text-decoration: underline #ffffff 2px;
            }

            &#home {
                @include global.flex($wrap: nowrap);

                width: 170px;
                height: 49px;

                &:hover {
                    background-color: #00000015;
                }

                h1 {
                    span {
                        font-size: 1.2em;

                        &:nth-child(1) {
                            color: global.$color2;
                        }

                        &:nth-child(2) {
                            color: global.$color1;
                        }
                    }
                }
            }
        }

        menu {
            @include global.flex;

            list-style-type: none;

            transition: opacity 0.5s, visibility 0.5s;

            li {
                @mixin navlinksbynum($color, $colorhover) {
                    @include global.setFont(text);

                    padding: 0 0.7em;
                    border: none;

                    background-color: $color;
                    
                    &:hover {
                        background-color: $colorhover;
                    }

                }

                .link-nav-1 {
                    @include navlinksbynum(global.$color1, global.$color1-dark);
                }

                .link-nav-2 {
                    @include navlinksbynum(global.$color2, global.$color2-dark);
                }

                .link-nav-3 {
                    @include navlinksbynum(global.$color3, global.$color3-dark);
                }

                button {
                    @include global.flex;
                }

            }
        }

        button {
            @include actions;
        }

        span {
            color: white;
        }
        
        button.botao-menu {
            @include global.border(transparent, 0, 3px);

            display: none;
            height: 50px;
            padding: 5px;
    
            background-color: transparent;
            transition: 0.3s;
            cursor: pointer;
            
            &:hover {
                background-color: #00000015;
            }
        }
    }
}