@use '../globals' as global;
@use '../playground/play' as play;
/* -------------------------------------------------------------------- */
.mymodal {
	$modal-border: 1em;

	background-color: #{global.$black}70;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	@include global.middle;
	@include global.size(100vw, 100vh);

	.modal-body {
		background-color: global.$white;
		border-radius: $modal-border;

		max-width: 90%;
		max-height: 85%;

		@include global.defaultText;
		@include global.flex($direction: column, $align: normal);

		> * {
			padding: 0 0.5em;
		}

		.modal-header {
			@include global.flex;
			@include global.rounded-border($modal-border, 0);

			h2 {
				font-size: 1.4em;
				color: global.$white;
			}

			.close {
				@include global.circle;
				@include global.size(1.1em);
				@include global.setFont(default);
				@include global.faded-button($font: 1.4em);
			}
		}

		.modal-footer {
			@include global.middle;
			@include global.rounded-border(0, $modal-border);
		}

		form {
			@include global.size(100%);
			@include global.flex($direction: column);
			
			.field {
				@include global.flex($direction: column);
				
				label {
					font-weight: bold;
				}
				
				input, select {
					font-size: 1em;
					background-color: global.$lightgray;
					
					border-width: 0.1rem;
				}

				&:has(.switcher) {
					width: 100%;
					flex-direction: row;
				}

				.switcher {
					@include global.middle;
					@include global.size(1.8em, 1em);

					input[type="checkbox"] {
						$box-size: 1rem;

						appearance: none;
						position: relative;
						border-radius: 1em;

						@include global.size(100%);
						
						&:hover {
							filter: brightness(0.9);
						}

						&:checked {
							background-color: global.$color3;
						
							&::after {
								left: calc(90% - $box-size);
							}
						}

						&::after {
							content: "";

							transition: 150ms ease-out;
							background-color: global.$white;

							position: absolute;

							left: 10%;
							top: calc((1em - $box-size)/2);

							@include global.circle;
							@include global.size($box-size);
						}
					}
				}
			}
		}
	}
}

/* -------------------------------------------------------------------- */
#config-modal {
	.modal-body {
		@include global.size(18em, 20em);
		
		.modal-header {
			height: 12%;
			background: global.$fade-default;
			
			h2 {
				@include global.setFont(text);
			}
		}

		.modal-main {
			height: 70%;

			#delay {
				width: 3.5em;
				text-align: center;
			}
		}

		.modal-footer {
			height: 12%;
			background: global.$fade-default;
			
			#save-configs {
				border-radius: 0.6em;

				@include global.size(5em, 80%);
				@include global.faded-button($font: 1em);
			}
		}
	}
}
/* -------------------------------------------------------------------- */
#card-modal {
	$submit-size: 2.2em;

	.modal-body {
		@include global.middle;
		@include global.size(15em, 5em);
		
		.modal-main {
			width: 100%;

			form {
				@include global.flex;
				
				input {
					font-size: 3em;
					text-align: center;
					
					width: calc(100% - $submit-size * 0.6);

					border: 0.1rem solid global.$black;

					@include global.setFont(dotted);
				}

				#submit-card {
					@include global.circle;
					@include global.size($submit-size);
					@include global.faded-button(check);
				}
			}
		}
	}
}
/* -------------------------------------------------------------------- */
#error-modal {
	background-color: #{play.$dark-red}88;

	.modal-body {
		width: 25em;

		.modal-header {
			background: play.$dark-red;

			h2 {
				font-size: 1.15em;
				line-height: 1.8em;
				@include global.setFont(code);
			}

			.close {
				background: transparent;

				&:hover {
					background: global.$white;
					color: play.$dark-red;
				}
			}
		}

		.modal-main {
			text-align: center;

			@include global.middle;

			#error {
				padding: 0.5em 0;
			}
		}
	}
}
/* -------------------------------------------------------------------- */
#help-modal {
	.modal-body {
		font-size: 1em;
		overflow: auto;

		table {
			padding: 0;
		}
	}
}
/* -------------------------------------------------------------------- */
#rating-modal {
	.modal-body {
		width: 23em;

		.modal-header {
			background-color: global.$color2-dark;
			
			h2 {
				font-size: 1.6em;
				@include global.setFont(subtitle);
			}

			#close-rating {
				font-size: 1.5em;
				background: transparent;

				&:hover {
					background: global.$white;
					color: global.$color2;
				}
			}
		}

		.modal-main {
			$padding: 0.5em;

			font-size: 1.1em;
			text-align: center;

			padding-top: $padding;			
			padding-bottom: $padding;

			#rating {
				font-size: 1.5em;
				color: global.$color2;

				padding: 0 0.4em;
				border-radius: 1em;

				transition: 0.5s;

				&:hover {
					color: global.$white;
					background-color: global.$color2;
				}
			}
		}

		.modal-footer {
			padding-top: 0.2em;
			padding-bottom: 0.2em;
			
			justify-content: end;
			background-color: global.$color2-dark;

			#dont-ask {
				padding: 0.1em 0.5em;
				border-radius: 0.6em;
				
				@include global.faded-button($font: 0.7em);
				
				& {
					background: global.$white;
					color: global.$color2-dark;
				}

				&:hover {
					color: global.$white;
					background: global.$color2;
				}
			}
		}
	}
}