@use '../globals' as global;
@use '../playground/play' as play;
/* -------------------------------------------------------------------- */
.mymodal {
	$modal-border: 1em;

	background-color: #{global.$black}70;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	@include global.middle;
	@include global.size(100vw, 100vh);

	.modal-body {
		background-color: global.$white;
		border-radius: $modal-border;

		max-width: 90%;
		max-height: 85%;

		@include global.defaultText;
		@include global.flex($direction: column, $align: normal);

		> * {
			padding: 0 0.5em;
		}

		.modal-header {
			@include global.flex;
			@include global.rounded-border($modal-border, 0);

			h2 {
				font-size: 1.35em;
				color: global.$white;
			}

			.close {
				font-size: 1.5em;
				font-weight: bold;

				color: global.$white;
				background-color: transparent;

				@include global.circle;
				@include global.size(1.1em);
				@include global.setFont(default);

				&:hover {
					background-color: global.$white;
				}
			}
		}

		.modal-footer {
			@include global.middle;
			@include global.rounded-border(0, $modal-border);
		}

		form {
			@include global.size(100%);
			@include global.flex($direction: column);
			
			.field {
				@include global.flex($direction: column);
				
				label {
					font-weight: bold;
				}
				
				input, select {
					font-size: 1em;
					background-color: global.$lightgray;
					
					border-width: 0.1rem;
				}

				&:has(.switcher) {
					width: 100%;
					flex-direction: row;
				}

				.switcher {
					@include global.middle;
					@include global.size(1.8em, 1em);

					input[type="checkbox"] {
						$box-size: 1rem;

						appearance: none;
						position: relative;
						border-radius: 1em;

						background-color: global.$gray;

						@include global.size(100%);
						
						&:hover {
							filter: brightness(0.9);
						}

						&:checked {
							background-color: global.$color3;
						
							&::after {
								left: calc(90% - $box-size);
							}
						}

						&::after {
							content: "";

							transition: 150ms ease-out;
							background-color: global.$white;

							position: absolute;

							left: 10%;
							top: calc((1em - $box-size)/2);

							@include global.circle;
							@include global.size($box-size);
						}
					}
				}
			}
		}
	}

	&#help-modal {
		z-index: 90;

		.modal-body {
			font-size: 1em;
			overflow: auto;

			table {
				padding: 0;
			}
		}
	}

	&#rating-modal {
		z-index: 91;

		.modal-body {
			width: 25em;

			.modal-header {
				background-color: global.$color2-dark;
				
				h2 {
					font-size: 1.6em;
					@include global.setFont(subtitle);
				}

				.close:hover {
					color: global.$color2;
				}
			}

			.modal-main {
				@include global.flex($direction: column, $gap: 0.25em);

				$padding: 1em;

				padding-top: $padding;			
				padding-bottom: $padding;

				p {
					font-size: 1.1em;
					text-align: center;
				}

				#rating {
					font-size: 1.6em;
					color: global.$color2;

					padding: 0 0.4em;
					border-radius: 1em;

					transition: 0.5s;

					&:hover {
						color: global.$white;
						background-color: global.$color2;
					}
				}
			}

			.modal-footer {
				padding-top: 0.2em;
				padding-bottom: 0.2em;
				
				justify-content: end;
				background-color: global.$color2-dark;

				#dont-ask {
					padding: 0.1em 0.5em;
					border-radius: 0.6em;
					
					@include global.faded-button($font: 0.7em, $simple: yes, $color: global.$color2-dark);

					&:hover {
						background: global.$color2;
					}
				}
			}
		}
	}

	&#config-modal {
		z-index: 92;

		.modal-body {
			@include global.size(18em);
			
			.modal-header {
				background: global.$fade-default;
				
				h2 {
					@include global.setFont(text);
				}

				.close:hover {
					color: global.$color1;
				}
			}

			.modal-main {
				form {
					gap: 0.8em;

					#delay {
						width: 3.5em;
						text-align: center;
					}
				}
			}

			.modal-footer {
				padding: 0.2em 0;
				background: global.$fade-default;
				
				#save-configs {
					padding: 0 0.5em;
					border-radius: 0.6em;

					@include global.faded-button($font: 1em, $simple: yes, $color: global.$color1);
				}
			}
		}
	}

	&#error-modal {
		z-index: 93;

		background-color: #{play.$dark-red}88;

		.modal-body {
			width: 25em;

			.modal-header {
				background: play.$dark-red;

				h2 {
					font-size: 1.15em;
					line-height: 1.8em;
					@include global.setFont(code);
				}

				.close:hover {
					color: play.$dark-red;
				}
			}

			.modal-main {
				text-align: center;

				@include global.middle;

				#error-message {
					padding: 0.5em 0;
				}
			}
		}
	}

	&#card-modal {
		$submit-size: 2.2em;

		z-index: 94;

		.modal-body {
			@include global.middle;
			@include global.size(15em, 5em);
			
			.modal-main {
				width: 100%;

				form {
					flex-direction: row;
					
					input {
						font-size: 3em;
						text-align: center;

						padding: 0.2rem 0;
						
						width: calc(100% - $submit-size * 0.6);

						border: 0.1rem solid global.$black;

						@include global.setFont(dotted);
					}

					#submit-card {
						@include global.circle;
						@include global.size($submit-size);
						@include global.faded-button(check);
					}
				}
			}
		}
	}
}