@use '../globals' as global;
@use './default' as default;
/* -------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;

    box-sizing: border-box;

    @include global.setFont(text);
}

html {
    scroll-behavior: smooth;
}
/* -------------------------------------------------------------------- */
h1, h2, h3, h4 {
    color: transparent;
    background-clip: text;
    display: inline-block;
}

h1, h2 {
    background-image: global.$fade-title;
    @include global.setFont(title);
}

h3, h4 {
    background-image: global.$fade-subtitle;
    @include global.setFont(subtitle);
}

div:has(h1) {
    text-align: center;
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3.5em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2em;
}

ul, p {
    @include global.defaultText;
}

br {
    display: block;
    content: '';
    height: 0.5rem;
}
/* -------------------------------------------------------------------- */
menu {
    list-style-type: none;
}

ul, ol {
    padding-left: 1.1em;
}
/* -------------------------------------------------------------------- */
hr {
    border: 0;
    height: 0.1rem;
    
    width: 100%;
    background: global.$fade-title;
}

mark {
    padding: 0 0.25em;
    background-color: global.$color-mark;
}
/* -------------------------------------------------------------------- */
.pre-code {
    background-color: global.$lightgray;

    padding: 0.3em 1em;
    border-radius: 0.5em;

    overflow-x: auto;
    
    @include global.flex($align: flex-end, $wrap: nowrap);
    
    code {
        font-size: 1.15em;

        &, * {
            color: global.$color-code;

            text-align: left;
            font-weight: 700;

            @include global.setFont(code);
        }

        .comment {
            color: global.$color-comment;
        }

        .reserved {
            color: global.$color-reserved;
        }

        .value {
            color: global.$color-value;
        }
    }
}
/* -------------------------------------------------------------------- */
button {
    border: none;
    cursor: pointer;

    transition: 0.5s;

    &:active {
        filter: brightness(0.8);
    }

    &.burger-menu {
        $radius: 0.3em;
        $size: default.$home-height;

        border-radius: $radius;
        
        @include global.size($size);
        @include global.background($image: menu, $size: contain);

        &:hover {
            background-color: #{global.$black}15;
        }
    }

    &.copy {
        border-radius: 0.4em;
        outline: 0.1rem solid #{global.$black}30;

        min-width: default.$copy-size;

        right: 0;
        position: sticky;

        @include global.size(default.$copy-size);
        @include global.faded-button(clipboard);

        &:hover {
            outline-color: #{global.$black};
        }

        &.copied {
            @include global.circle;
            @include global.faded-button(check);
        }
    }

    &.switch-theme {
        @include global.circle;
        @include global.fixed-button;

        &.light {
            @include global.faded-button(moon);
        }

        &.dark {
            @include global.faded-button(sun);
        }
    }
}

a {
    $color: global.$black;

    color: $color;

    &.marked {
        text-decoration: underline $color 0.01em;

        &:hover {
            text-decoration-thickness: 0.1em;
        }
    }

    &.external {
        cursor: alias;
    }
}
/* -------------------------------------------------------------------- */
.tooltiper {
    position: relative;

    &:hover .tooltip {
        visibility: visible;
        
        transition-delay: 1s;
        transition-property: visibility;
        
        @include global.animation(reveal, 3s, 1);
    }

    .tooltip {
        padding: 0 default.$tooltip-padding-x;
        background-color: global.$color-tooltip;

        height: default.$tooltip-height;

        font-weight: bold;
        text-align: center;
        color: global.$white;

        z-index: 999;
        position: absolute;

        border-radius: 0.5em;

        @include global.hidden;
        @include global.middle;

        &::after {
            content: "";
            position: absolute;

            z-index: -1;
            transform: rotate(45deg);

            border: default.$tooltip-size-arr solid global.$color-tooltip;
        }
        
        .tooltip-text {
            font-size: 1em;
            text-transform: none;
        }
    }
}
/* -------------------------------------------------------------------- */
::-webkit-scrollbar {
    height: 0.6em;
    width: default.$scrollbar-width;
}

::-webkit-scrollbar-track {
    border-radius: 0.8em;

    &:hover {
        box-shadow: inset 0 0 0.3em #{global.$black}60;
    }
}
 
::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: global.$color3-dark; 

    border-radius: 0.8em;
    border: 1px solid transparent;
    
    &:hover {
        border-width: 0;
        background-color: global.$color2-dark; 
    }
    
    &:active {
        background-color: global.$color1-dark; 
    }
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}