@use '../globals' as global;
@use './default' as default;
/* -------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #000000;

    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

mark {
    background-color: #FFB61C;
    padding: 0 5px;
}
/* -------------------------------------------------------------------- */
h1 {
    @include global.setFont(title);
}
/* -------------------------------------------------------------------- */
code {
    color: global.$color1;
    text-align: left;
    font-size: 1.15em;
    font-weight: 700;
}

.codigo-pre {
    background-color: #FFC958;

    border-radius: 5px;
    padding: 7px 20px;
}
/* -------------------------------------------------------------------- */
button.botao {
    background: global.$fade-button;
    padding: 5px 30px;

    display: block;

    transition: 0.5s;
    
    /* texto */
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    
    color: white;
    
    cursor: pointer;
    
    @include global.border(black, 0, 15px);
    @include global.setFont(text);

    &:hover {
        background: global.$fade-hover !important;

        box-shadow: 3px 3px 5px #0000005f;
    }
}

a.link-marcado {
    text-decoration: underline black 0.01em;

    &:hover {
        text-decoration-thickness: 0.1em;
    }
}

a.link-externo {
    cursor: alias;
}
/* -------------------------------------------------------------------- */
::-webkit-scrollbar {
    height: 0.8em;
    width: default.$scrollbar-width;
}

::-webkit-scrollbar-track {
    border-radius: 10px;

    &:hover {
        box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.35);
    }
}
 
::-webkit-scrollbar-thumb {
    background-color: global.$color3-dark; 

    @include global.border(transparent, 2px, 10px);

    background-clip: padding-box;
    
    &:hover {
        background-color: global.$color2-dark; 
        
        border: 0;
    }
    
    &:active {
        background-color: global.$color1-dark; 
    }
}