@use '../globals' as global;
@use './default' as default;
/* -------------------------------------------------------------------- */
@use './dark.scss' as dark;
/* -------------------------------------------------------------------- */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;

    box-sizing: border-box;

    @include global.setFont(text);
}

html {
    scroll-behavior: smooth;

    &[data-theme="dark"] {
        @include dark.mode;
    }
}
/* -------------------------------------------------------------------- */
h1, h2, h3, h4 {
    color: transparent;
    background-clip: text;
    display: inline-block;
}

h1, h2 {
    margin-bottom: 0.1em;
    background-image: global.$fade-title;

    @include global.setFont(title);
}

h3, h4 {
    background-image: global.$fade-subtitle;
    @include global.setFont(subtitle);
}

h1 {
	font-size: 4em;
}

h2 {
	font-size: 3.5em;
}

h3 {
	font-size: 2.5em;
}

h4 {
	font-size: 2em;
}

ul, ol, p {
    @include global.defaultText;
}

br {
    display: block;
    content: '';
    height: 0.5rem;
}
/* -------------------------------------------------------------------- */
section {
    text-align: center;

    article {
        text-align: left;
    }
}
/* -------------------------------------------------------------------- */
menu {
    list-style-type: none;
}

ul, ol {
    padding-left: 1.1em;
}

ol {
    margin-left: 2em;

    > li {
        position: relative;

        &:not(:last-child) {
            margin-bottom: 0.6rem;
        }

        &::marker {
            color: global.$white;
            content: counter(list-item) "\0020""\0020";
            
            @include global.setFont(code);
        }

        &::before {
            content: "";

            z-index: -1;
            position: absolute;

            right: calc(100% + default.$font-size/1.25);

            background-color: global.$color3;

            @include global.circle;
            @include global.size(2rem);
        }

        ul {
            padding-left: 2em;
        }
    }
}
/* -------------------------------------------------------------------- */
hr {
    border: 0;
    height: 2px;

    width: 100%;
    background: global.$fade-title;
}

mark {
    padding: 0 0.25em;
    background-color: global.$color-mark;
}
/* -------------------------------------------------------------------- */
.undisplayed {
    @include global.undisplayed;
}

.unvisible {
    @include global.unvisible;
}
/* -------------------------------------------------------------------- */
.pre-code {
    background-color: global.$lightgray;

    padding: 1em;
    border-radius: 0.5em;

    margin: 1.5em 0;
    overflow-x: auto;

    @include global.flex($align: flex-end, $wrap: nowrap);

    code {
        font-size: 1.15em;

        &, * {
            font-weight: 700;
            color: global.$color-code;

            @include global.setFont(code);
        }

        .comment {
            color: global.$color-comment;
        }

        .reserved {
            color: global.$color-reserved;
        }

        .value {
            color: global.$color-value;
        }
    }

    button.code, a.code {
        border-radius: 0.4em;
        border: 0.1rem solid #{global.$black}30;

        min-width: default.$copy-size;

        right: 0;
        position: sticky;

        @include global.size(default.$copy-size);

        &:hover {
            border-color: #{global.$black};
        }

        &.copy {
            @include global.faded-button(clipboard);

            &.copied {
                @include global.circle;
                @include global.faded-button(check);
            }
        }

        &.open {
            @include global.faded-button(open);
        }
    }

    div:has(> .open) {
        $size: calc(default.$copy-size * 2 + 0.5em);

        min-width: $size;

        right: 0;
        position: sticky;

        @include global.flex;
    }
}
/* -------------------------------------------------------------------- */
button {
    border: none;
    cursor: pointer;

    transition: 0.5s;

    &:active {
        filter: brightness(0.8);
    }

    &.burger-menu {
        $radius: 0.3em;
        $size: default.$home-height;

        border-radius: $radius;

        @include global.size($size);
        @include global.background($image: menu, $size: contain);

        &:hover {
            background-color: #{global.$black}15;
        }
    }

    &.switch-theme {
        @include global.circle;
        @include global.fixed-button;

        @include global.faded-button(moon);

        &.dark {
            @include global.faded-button(sun);
        }
    }
}

a {
    $color: global.$black;

    color: $color;
    cursor: pointer;

    &.marked {
        text-decoration: underline $color 0.01em;

        &:hover {
            text-decoration-thickness: 0.1em;
        }
    }

    &.location {
        line-height: 0.5em;

        &::after {
            content: "\1f4cc";
            font-size: 0.6em;

            vertical-align: top;
        }
    }

    &.external {
        cursor: alias;
    }
}
/* -------------------------------------------------------------------- */
.tooltiper {
    position: relative;

    &:hover .tooltip {
        visibility: visible;

        transition-delay: 1s;
        transition-property: visibility;

        @include global.animation(reveal, 3s, 1);
    }

    .tooltip {
        padding: 0.1em 0.8em;
        background-color: global.$color-tooltip;

        font-weight: bold;
        text-align: center;
        color: global.$white;

        z-index: 9;
        position: absolute;

        border-radius: 0.5em;

        @include global.middle;
        @include global.unvisible;

        &::after {
            content: "";
            position: absolute;

            z-index: -1;
            transform: rotate(45deg);

            border: default.$tooltip-size-arr solid global.$color-tooltip;
        }

        .tooltip-text {
            font-size: 1em;
            text-transform: none;

            kbd {
                @media screen and (max-width: default.$max-width-mobile) and (pointer: coarse) {
                    display: none;
                }
            }
        }
    }
}
/* -------------------------------------------------------------------- */
.prequel::after {
    content: ":";
}
/* -------------------------------------------------------------------- */
::-webkit-scrollbar {
    height: 0.6em;
    width: default.$scrollbar-width;
}

::-webkit-scrollbar-track {
    border-radius: 0.8em;

    &:hover {
        box-shadow: inset 0 0 0.3em #{global.$black}60;
    }
}

::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: global.$color3-dark;

    border-radius: 0.8em;
    border: 1px solid transparent;

    &:hover {
        border-width: 0;
        background-color: global.$color1-dark; 
    }

    &:active {
        background-color: global.$color2-dark; 
    }
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}