@use '../globals' as global;
/* -------------------------------------------------------------------- */
@mixin datas {
    color: white;
    padding: 3px 10px;
    white-space: nowrap;
}
/* -------------------------------------------------------------------- */
table#commands {
    width: 100%;
    border-spacing: 0.45em;

    @include global.defaultText;
    @include global.center;

    th {
        background-color: global.$color3;
        border-radius: 5px 5px 0 0;

        @include datas;
    }

    td {
        background-color: global.$color1;
        border-radius: 5px 0 5px 0;

        font-weight: 500;
        
        text-align: center;

        @include datas;

        &.description {
            text-align: left;
            border-radius: 0;
        }
        
        &.operation {
            background-color: transparent;
            padding: 0;
            width: 10px;
            
            color: global.$color3;

            font-weight: 700;
        }
        
        &.arrow {
            font-size: 1.5em;
        }
    }
}