@use '../globals' as global;
/* -------------------------------------------------------------------- */
@mixin datas {
    color: white;
    padding: 0.2em 0.4em;
    white-space: nowrap;
}
/* -------------------------------------------------------------------- */
table#commands {
    $radius: 0.25em;

    width: 100%;
    border-spacing: 0.5em;

    @include global.center;
    @include global.defaultText;

    th {
        background-color: global.$color3-dark;
        border-radius: $radius $radius 0 0;

        @include datas;
    }

    td {
        background-color: global.$color1-dark;
        border-radius: $radius 0 $radius 0;

        text-align: center;
        font-weight: 500;

        @include datas;

        &.description {
            text-align: left;
            border-radius: 0;
        }
        
        &.operation {
            background-color: transparent;
            padding: 0;
            width: 0.5em;
            
            color: global.$color2-dark;

            font-weight: 700;
        }
        
        &.arrow {
            font-size: 1.5em;
        }
    }
}