<section id="config-modal" class="mymodal">
    <article class="modal-body">
        <div class="modal-header">
            <h2>Configurações</h2>
            <button id="close-configs" class="botao close">&times;</button>
        </div>
        <div class="modal-main">
            <form name="configs-form">
                <label for="delay">Delay (ms)</label>
                <input type="number" name="delay" id="delay" min="100">
            </form>
        </div>
        <div class="modal-footer">
            <button id="save-configs" type="submit" class="botao">Salvar</button>
        </div>
    </article>
</section>