<div id="rating-modal" class="mymodal">
    <div class="modal-body">
        <div class="modal-header">
            <h2 data-lang="evaluate-now">Avalie já</h2>
            <button class="close">&times;</button>
        </div>
        <div class="modal-main">
            <p data-lang="your-opinion" class="prequel">Sua opinião é fundamental para nosso projeto</p>
            <a id="rating" class="external" href="https://docs.google.com/forms/d/e/1FAIpQLSeW1meIYsky1TysbPhlJ3GiBP68j8ORGCkRJpFxw5HEfwJhjg/viewform?usp=sharing" target="_blank">
                &#9733;&#9733;&#9733;&#9733;&#9733;
            </a>
            <p data-lang="click-on-stars">Clique nas estrelas e responda o formulário!</p>
        </div>
        <div class="modal-footer">
            <button data-lang="dont-ask" id="dont-ask">Não perguntar novamente</button>
        </div>
    </div>
</div>