/* -------------------------------------------------------------------- */
/* cabeçalho */
header {
    height: 6vh;

    padding: 25px 0;
    box-shadow: 1px 1px 9px #00000033;
}

/* barra de navegação */
nav {
    max-width: 80vw;
    height: 54px;
    position: relative;
}

/* todos os links da barra de navegação */
nav a, nav button {
    padding: 1px 5px;
/*     border-radius: 3px; */

    /* font-size: 18px; */
    font-size: 1.5em !important;
}

nav a, nav span {
    color: #ffffff;
}

nav > menu {
    /* min-width: 600px; */
    min-width: 45vw;
    list-style-type: none;
}

/* links da lista */
nav a:hover {
    text-decoration: underline #ffffff 2px;
}

nav > a#home {
    width: 170px;
    height: 49px; /* tamanho da imagem */
}

nav > a#home:hover {
    background-color: #00000015;
}

nav > a#home > h1 > span {
    /* font-size: 35px; */
    font-size: 1.2em;
}

nav > a#home > h1 > span:nth-child(1) {
    color: var(--cor3);
}

nav > a#home > h1 > span:nth-child(2) {
    color: var(--cor2);
}

.link-nav {
    padding: 0 15px;

    border: none;
}

.link-nav-1 {
    background-color: var(--cor2);
}

.link-nav-1:hover {
    background-color: var(--cor2-escura);
}

.link-nav-2 {
    background-color: var(--cor3);
}

.link-nav-2:hover {
    background-color: var(--cor3-escura);
}

.link-nav-3 {
    background-color: var(--cor1);
}

.link-nav-3:hover {
    background-color: var(--cor1-escura);
}

button#botao-menu {
    height: 50px; /* tamanho da imagem */

    background-color: transparent;
    cursor: pointer;

    padding: 5px;

    border-width: 0;
    border-color: transparent;
    border-radius: 3px;

    transition: 0.3s;
}

button#botao-menu:hover {
    background-color: #00000015;
}