/* -------------------------------------------------------------------- */
/* cabeçalho */
header {
<<<<<<< HEAD:public/css/cabecalho.css
    padding: 25px 0;
    box-shadow: 1px 1px 9px #00000033;
=======
    height: 55px;

    padding: 25px 0;
    box-shadow: 1px 1px 9px hsla(0, 0%, 0%, 0.2);
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
}

/* barra de navegação */
nav {
    max-width: 80vw;
    position: relative;
}

/* todos os links da barra de navegação */
nav a, nav button {
    padding: 1px 5px;
<<<<<<< HEAD:public/css/cabecalho.css
=======
    border-radius: 3px;

    /* font-size: 18px; */
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
    font-size: 1.5em !important;
}

nav a, nav span {
    color: #ffffff;
}

nav > menu {
<<<<<<< HEAD:public/css/cabecalho.css
=======
    /* min-width: 600px; */
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
    min-width: 45vw;
    list-style-type: none;

    transition: opacity 0.5s, visibility 0.5s;
}

/* links da lista */
nav a:hover {
    text-decoration: underline #ffffff 2px;
}

nav > a#home {
    width: 170px;
<<<<<<< HEAD:public/css/cabecalho.css
    height: 49px; /* tamanho da imagem */
=======
    border: 2px solid transparent;
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
}

nav > a#home:hover {
    background-color: #00000015;
    /* border-color: #00000010; */
}

nav > a#home > h1 > span {
    /* font-size: 35px; */
    font-size: 1.2em;
}

nav > a#home > h1 > span:nth-child(1) {
    color: var(--cor3);
}

nav > a#home > h1 > span:nth-child(2) {
    color: var(--cor2);
}

<<<<<<< HEAD:public/css/cabecalho.css
.link-nav {
    padding: 0 15px;

    border: none;
}

.link-nav-1 {
    background-color: var(--cor2);
}

.link-nav-1:hover {
    background-color: var(--cor2-escura);
}

.link-nav-2 {
    background-color: var(--cor3);
}

.link-nav-2:hover {
    background-color: var(--cor3-escura);
}

.link-nav-3 {
    background-color: var(--cor1);
}

.link-nav-3:hover {
=======
a.link-nav {
    padding: 0 15px;
}

a#link-nav-1 {
    background-color: var(--cor2);
}

a#link-nav-1:hover {
    background-color: var(--cor2-escura);
}

a#link-nav-2 {
    background-color: var(--cor3);
}

a#link-nav-2:hover {
    background-color: var(--cor3-escura);
}

a#link-nav-3 {
    background-color: var(--cor1);
}

a#link-nav-3:hover {
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
    background-color: var(--cor1-escura);
}

button#botao-menu {
    height: 50px; /* tamanho da imagem */

    background-color: transparent;
    cursor: pointer;

    padding: 5px;

<<<<<<< HEAD:public/css/cabecalho.css
    border-width: 0;
    border-color: transparent;
=======
    border: 2px solid transparent;
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
    border-radius: 3px;

    transition: 0.3s;
}

<<<<<<< HEAD:public/css/cabecalho.css
button#botao-menu:hover {
    background-color: #00000015;
}

@media screen and (max-width: 939px) {
    header {
        position: sticky;
        top: 0;

        background-color: white;

        z-index: 1;
    }
=======
/* button#botao-menu:focus {
    border: 2px solid black;
} */

button#botao-menu:hover {
    background-color: #00000015;
>>>>>>> de919b461be733bf0560fe94fac0e8ecf77d53b6:css/cabecalho.css
}