/* -------------------------------------------------------------------- */
:root {
    --menu-height: calc(3 * 32);
}

/* Conteúdo principal */
main {
    max-width: 80vw;
}

/* Títulos principais */
h1#titulo-principal, h2 {
    text-align: center;
    /* font-size: 60px; */
    font-size: 3.8em;

    /* Configuração para deixar texto gradiente */
    background-image: linear-gradient(to right, var(--cor2), var(--cor1));
    background-clip: text;
    color: transparent;
}

/* Todos os parágrafos dentro do conteúdo principal */
main p {
    text-align: justify;
}

/* Todas as seções dentro da main */
main section {
    /* margin-top: 10px; */
    margin-bottom: 15vh;
}

main section > article {
    margin-top: 70px;
    margin-bottom: 70px;
}

/* Conteúdos da seção de descrição do site ------------------------------*/
section#descricao-hv {
    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap-reverse;

    min-height: 90vh;
}

section#descricao-hv > article {    
    max-width: 450px;
}

section#descricao-hv > article > p {
    margin: 60px 0;
}

section#descricao-hv > img {
    max-width: 100%;
    margin: 0 15px;
}
/* -------------------------------------------------------------------- */

/* Conteúdos da seção de instalação do compilador --------------------- */
section#instale {
    /* max-width: 60vw; */
    max-width: 1200px;
    min-width: 40vw;
}

section#instale > article > img {
    float: left;
    margin-right: 15px;
}

section#instale > article > h3 {
    color: var(--cor3);
    /* font-size: 40px; */
    font-size: 2.6em;
}

section#instale > article > ol {
    margin: 40px 0 0 22px;
}

section#instale > article > ol > li {
    position: relative;
    list-style-position: inside;

    margin-bottom: 40px;
}

section#instale > article > ol > li::marker {
    font-family: "Archivo Black";
    color: #ffffff;
    content: counter(list-item);

    font-size: 1.1em;
}

section#instale > article > ol > li::before {    
    content: "";

    /* centralizando posicionamento */
    position: absolute;
    display: inline-block;
    z-index: -1;
    top: 5px;
    left: -9px;

    /* configurando formato e fundo */
    background-color: var(--cor2);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

section#instale > article > ol > li > span {
    color: var(--cor2);
    /* font-size: 24px; */
    font-size: 1.6em;

    margin-left: 20px;
}

section#instale > article > ol > li > p {
    font-weight: 400;
    margin-left: 35px;
}

section#instale pre {
    margin: 20px 0 0 35px;
    position: relative;
}

section#instale pre > button.copiar {
    margin-left: 5px;

    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
}

section#instale pre > button.copiar:hover {
    border: 1px solid var(--cor1);
    border-radius: 5px;
}
/* -------------------------------------------------------------------- */

/* Conteúdos da seção aprenda  */
section#aprenda {
    /* max-width: 75vw; */
    max-width: 1400px;
}

section#aprenda div.aprenda-div-texto-imagem > div{
    max-width: 50vw;
}

section#aprenda > article h3 {
    text-transform: uppercase;
    /* font-size: 45px; */
    font-size: 2.9em;

    font-family: 'Archivo Black';
    margin-bottom: 15px;
}

/* configurando usando filhos impares e pares */
/* section#aprenda > article > h3:nth-child(even) {
    color: var(--cor1);
}

section#aprenda > article > h3:nth-child(odd) {
    color: var(--cor2);
} */

/* artigo de contextualização do HV */
section#aprenda > article#hv h3 {
    color: var(--cor1);
}

section#aprenda > article#hv > div {
    flex-wrap: wrap;
}

/* section#aprenda > article#hv > div > div {
    max-width: 50vw;
    max-width: 1400px;
} */

section#aprenda > article#hv ul {
    list-style-position: inside;
}
/* ------------------------------- */

/* artigo de tabela de comandos */
section#aprenda > article#assembly > h3 {
    color: var(--cor2);
}
/* ------------------------------- */

/* artigo de sintaxe da linguagem */
section#aprenda > article#como > h3 {
    color: var(--cor1);
}

section#aprenda article#como pre {
    padding: 15px 20px;
    max-width: 645px;
}

/* artigo do playground */
section#aprenda > article#playground > h3 {
    color: var(--cor2);
}

section#aprenda > article#playground > div {
    flex-wrap: wrap-reverse;
    margin-bottom: 70px;
}

/* section#aprenda > article#playground > div > div {
    max-width: 58.5vw;
} */

/* section#aprenda > article#playground > div > div > p {
    margin-bottom: 60px;
} */
/* ------------------------------- */
/* conteúdo complementar */
aside {
    padding: 100px 0;
    text-align: center;

    max-width: 80vw;
}

aside blockquote {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.265);
    border-radius: 20px 0;
    display: inline-block;
    padding: 10px;

    background-color: rgb(241, 239, 239);
}

aside blockquote > * > * {
    /* font-size: 35px; */
    font-size: 2.2em;
    padding: 3px;
}

/* rodapé */
footer {
    background: var(--degrade-azul);

    padding: 30px 0;
    color: #ffffff;
}

footer > section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    max-width: 90vw;
}

footer article {
    width: 350px;
    height: 160px;
}

footer article:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* footer article {
    min-width: 350px;
} */

footer * {
    color: #ffffff;
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer a:hover {
    text-decoration: underline;
}