@charset "UTF-8";


@media screen and (max-width: 1449px) and (min-width: 940px) {
    :root {
        --visor-r-xy: calc(var(--visor-xy) * 0.9);
        --visor-ac-r-xy: calc(var(--visor-r-xy) - 20px);
    }

    section#porta-cartoes {
        width: 40vw;
    }

    div#visores-gaveteiro {
        flex-direction: row;
        justify-content: space-between;

        width: 43vw;
    }

    div#visores {
        flex-direction: column;
    }

    div#visores > * {
        width: var(--visor-r-xy);
        height: var(--visor-r-xy);
    }

    section#acumulador {
        width: var(--visor-ac-r-xy);
        height: var(--visor-ac-r-xy);
    }

    section#gaveteiro {
        flex-direction: column;
        
        overflow-x: hidden;
        /* scrollbar-color: var(--cor1); */

        padding: 0;

        height: 100%;
    }
}

@media screen and (max-width: 1080px) and (min-width: 940px) {
    section#porta-cartoes, div#visores-gaveteiro {
        width: 46vw;
    }
}

@media screen and (min-width: 940px) {
    nav button#botao-menu {
        display: none;
    }
}

@media screen and (max-width: 939px) {
    :root {
        --visor-r-xy: 28vw;
        --visor-ac-r-xy: calc(var(--visor-r-xy) - 20px);

        --secoes-r-h: calc(var(--secoes-h) * 0.8);
    }
    
    nav > menu {
        position: absolute;
        top: var(--cabecalho-h);
        right: 0;
        
        align-items: end !important;
        flex-direction: column;
    
        height: calc(var(--menu-height) * 1.3);

        width: fit-content !important;
        min-width: fit-content !important;

        padding: 15px;
        border-radius: 0 0 5px 5px;
        background-color: #00000020;
    }
    
    nav > menu button {
        flex-direction: row-reverse;
    }

    nav > menu button img {
        margin: 0 0 0 0.6em !important;
    }
    
    main {
        max-width: 90vw;
    }

    section#porta-cartoes, div#visores-gaveteiro {
        width: 100%;
        height: var(--secoes-r-h);
    }

    section#porta-cartoes > textarea {
        max-height: var(--secoes-r-h) * 0.9;
        min-height: var(--secoes-r-h) * 0.9;
    }

    div#visores > * {
        width: var(--visor-r-xy);
        height: var(--visor-r-xy);
    }

    section#acumulador {
        width: var(--visor-ac-r-xy);
        height: var(--visor-ac-r-xy);
    }
}