@charset "UTF-8";

@media screen and (max-width: 1064px) {
    /* Cabeçalho --------------------*/
    header {
        margin-bottom: 10px;
    }
    
    section#descricao-hv > img {
        margin: 0;
    }

    section#aprenda div.aprenda-div-texto-imagem {
        justify-content: center;
    }

    section#aprenda div.aprenda-div-texto-imagem > div {
        max-width: none;
        margin-top: 40px;
    }

}