@charset "UTF-8";

@media screen and (min-width: 940px) {
    nav button#botao-menu {
        display: none;
    }
}

@media screen and (max-width: 939px) {
    /* Cabeçalho --------------------*/
    header {
        margin-bottom: 10px;
    }
    
    nav > menu {
        position: absolute;
        top: 8vh;
        right: 0;
        
        align-items: end !important;
        flex-direction: column;
    
        height: 150px;

        visibility: hidden;
        opacity: 0;

        transition: opacity 0.3s linear;

        width: fit-content !important;
        min-width: fit-content !important;

        padding: 15px;
        border-radius: 0 0 5px 5px;
        background-color: #00000020;
    }
    
    main {
        max-width: 85vw;
        /* flex-direction: column; */
    }

    section {
        width: 100% !important;
    }

    section#porta-cartoes {
        margin-bottom: 10vh;
    }
}

@media screen and (max-width: 1119px) {
    section#porta-cartoes, section#visores {
        width: 45%;
    }

    section#visores > * {
        height: 35vh;
    }

    section#gaveteiro {
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: fit-content !important;

    }

    article.gaveta {
        margin: 0 1vw;
    }
}