/* cabecalho exclusivo */
header#header-play {
    padding: 10px 0;
}

nav#nav-play {
    max-width: 95vw;
}

nav#nav-play > menu {
    min-width: 50vw;
}

nav#nav-play > menu > li > button {
    padding: 5px 7.5px;
}

nav#nav-play > menu > li > button > img {
    margin-right: 10px;
}
/* -------------------------------------------------------------------- */

/* conteúdo principal */
main {
    max-width: 95vw;
    height: 78vh;

    margin-top: 30px;
    margin-bottom: 30px;

    display: grid;
    grid-template-areas: 
        'secs-porta-cartoes secs-folha-de-saida secs-folha-de-saida secs-gaveteiro'
        'secs-porta-cartoes secs-epi secs-acumulador secs-gaveteiro';
    /* grid-template-columns: 36vw 18vw 18vw 150px; */
    grid-template-columns: auto 18vw 18vw 150px;
    grid-template-rows: 40vh auto;
    column-gap: 4vw;
    row-gap: 2vw;
}
/* -------------------------------------------------------------------- */

section {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200);
}
/* -------------------------------------------------------------------- */

section.visores {
    position: relative;
}
/* -------------------------------------------------------------------- */

/* secs-porta-cartoes */
section#secs-porta-cartoes {
    background-color: var(--cor1);
    grid-area: secs-porta-cartoes;
}

section#secs-porta-cartoes > div > * {
    height: 100%;
}
/* -------------------------------------------------------------------- */

/* secs-folha-de-saida */
section#secs-folha-de-saida {
    background-color: var(--cor2);

    grid-area: secs-folha-de-saida;
}
/* -------------------------------------------------------------------- */

/* secs-epi */
section#secs-epi {
    background-color: #915901;
    background-image: url(../img/madeirado.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center center; */

    border-radius: 2px;

    grid-area: secs-epi;
}

section#secs-epi > article {
    height: 83%;
    width: 83%;

    border-radius: 2px;

    background-color: #1d3825;
}

section#secs-epi span {
    font-size: 7.5vw;
}
/* -------------------------------------------------------------------- */

/* secs-acumulador */
section#secs-acumulador {
    background-color: #93A28D;

    border: 10px solid black;
    border-radius: 5px;

    grid-area: secs-acumulador;
}

section#secs-acumulador span {
    font-size: 10vw;
}
/* -------------------------------------------------------------------- */

/* secs-gaveteiro */
section#secs-gaveteiro {
    grid-area: secs-gaveteiro;

    max-height: 78vh;

    background-color: var(--cor3);
}

section#secs-gaveteiro > article.article-secs-gaveteiro {
    position: relative;
}

section#secs-gaveteiro > article.article-secs-gaveteiro > span.num-gaveta {
    color: #ffffff;
    font-weight: bold;

    position: absolute;
    top: 40px;
    left: 34px;

    transform: skewY(12deg);
}

section#secs-gaveteiro > article.article-secs-gaveteiro > span.cont-gaveta {
    color: #ffffff;

    position: absolute;
    top: 35px;
    right: 18px;

    transform: skewY(-25deg);
}