/* -------------------------------------------------------------------- */
:root {
    --max-width-view: 95vw; /* ocupação máxima para espaçar laterais */

    --header-padding: 0.3em;
    --cabecalho-h: calc(var(--header-padding) * 2 + 51px); /* padding + altura da nav */

    --menu-width: calc(5 * 140px); /* aproximadamente o tamanho de cada botão */
    --menu-height: calc(5 * 32px);

    --visor-xy: 30vh;
    --secoes-h: calc(100vh - var(--cabecalho-h) - 8vh); /* altura baseada com o cabecalho e os paddings */
}
/* -------------------------------------------------------------------- */
/* section#gaveteiro {
    height: fit-content;
    padding-bottom: 5px;
} */