/* cabecalho exclusivo */
header#header-play {
    padding: 10px 0;
}

nav#nav-play {
    max-width: 95vw;
}

nav#nav-play > menu {
    width: 700px;
}

nav#nav-play > menu > li > button {
    padding: 5px 7.5px;
}

nav#nav-play > menu > li > button > img {
    margin-right: 10px;
}
/* -------------------------------------------------------------------- */
/* conteúdo principal */
main {
    max-width: 95vw;
    /* height: 91vh; */

    margin: 4vh 0;

    flex-wrap: wrap;
}
/* -------------------------------------------------------------------- */
section {
    /* height: 80vh; */
}

section#porta-cartoes, section#folha-de-saida, div#contorno-epi, section#acumulador {
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.200); */
    border-radius: 0 0 15px 15px;
    padding: 15px;
}
/* -------------------------------------------------------------------- */
/* porta-cartoes */
section#porta-cartoes {
    background-color: var(--cor1);

    width: 30vw;
    height: 80vh;
}
/* -------------------------------------------------------------------- */
div#visores-gaveteiro {
    width: 60vw;
    height: 80vh;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

section#folha-de-saida, div#contorno-epi, section#acumulador {
    height: 15vw;
    width: 15vw;
}
/* -------------------------------------------------------------------- */
/* secs-folha-de-saida */
section#folha-de-saida {
    background-image: url(../img/notepad.png);
    background-size: contain;
    background-repeat: repeat-x;

    /* width: 96%; */

    position: relative;
}

section#folha-de-saida > h2 {
    font-size: 2em;
}

section#folha-de-saida > span {
    font-size: 10em;
}
/* -------------------------------------------------------------------- */

/* epi */
div#contorno-epi {
    background-color: #915901;
    background-image: url(../img/madeirado.png);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 2px;

    position: relative;
}

section#epi {
    border-radius: 2px;
    height: 90%;
    width: 90%;

    background-color: #1d3825;
    position: relative;
}

section#epi > h2 {
    padding-top: 5%;
    font-size: 2em;
}

section#epi > span {
    font-size: 8em;
}
/* -------------------------------------------------------------------- */

/* secs-acumulador */
section#acumulador {
    background-color: #93A28D;

    border: 10px solid black;
    border-radius: 5px;

    position: relative;
}

section#acumulador > h2 {
    font-size: 2em;
    text-transform: uppercase;
}

section#acumulador > span {
    font-size: 8em;
}

span#acumulador-span-visor {
    color: #00000020;
}

/* -------------------------------------------------------------------- */

/* secs-gaveteiro */
section#gaveteiro {
    /* height: 80vh; */
    /* background-color: var(--cor3); */
    height: fit-content;
}

article.gaveta {
    position: relative;
}

article.gaveta:nth-child(even) {
    margin: 0 1vw;
}

article > div {
    width: 146px;
    height: 122px;

    background-image: url(../img/gaveteiro.png);
    background-size: cover;
    background-repeat: no-repeat;
}

span.num-gaveta {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;

    position: absolute;
    top: 50px;
    left: 24px;

    transform: skewY(12deg);
}

span.cont-gaveta {
    font-size: 1.5em;
    color: #ffffff;

    position: absolute;
    top: 55px;
    right: 4px;

    transform: skewY(-25deg);
}