$color1: #00A8AC;
$color2: #FFB61C;
$color3: #5427A0;

$color1-dark: #019699;
$color2-dark: #e4a419;
$color3-dark: #42207e;

$color1-button: #0D77CC;
$color2-button: #00A8AC;
$color3-button: #0F6ED2;

$color1-hover: #8D49FF;
$color2-hover: #00A8AC;
$color3-hover: #8C4AFF;

$fade-default: linear-gradient(90deg, $color3 5.85%, $color1 73%, $color2 149.38%);

$fade-button: linear-gradient(90deg, $color1-button 5.85%, $color2-button 73%, $color3-button 149.38%);
$fade-hover: linear-gradient(90deg, $color1-hover 5.85%, $color2-hover 73%, $color3-hover 149.38%);
/* -------------------------------------------------------------------- */
$fonts:
    (
    title: 'Archivo Black',
    subtitle: 'Archivo Narrow',
    text: 'Nunito',
    code: 'IBM Plex Mono',
    mono: 'Space',
    quote: 'Parisienne',
    segment: 'Segment',
    chalk: 'Eraser',
    cursive: 'Indie Flower',
    dotted: 'Dots',
    default: 'Times New Roman'
    );

@function findFont($req) {
    @each $type, $font in $fonts {
        @if $type == $req {
            @return $font;
        }
    }
}

@mixin setFont($type: 'default') {
    font-family: findFont($type);
}

@mixin fontWeight($weight) {
    font-weight: $weight;
}

@mixin fontSize($size) {
    font-size: calc(100 * $size);
}

@mixin textAlign($align: center) {
    text-align: $align;
}
/* -------------------------------------------------------------------- */
@mixin flex(
    $justify: space-between,
    $align: center,
    $direction: row,
    $wrap: wrap
    ) {

    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin border($color: black, $width, $radius) {
    border-color: $color;
    border-width: $width;
    border-style: solid;
    border-radius: $radius;
}

@mixin size($width, $heigth: $width) {
    width: $width;
    height: $heigth;
}

@mixin shadow($type: null, $length1, $length2: $length1, $blur, $transparency) {
    box-shadow: $type $length1 $length2 $blur rgba(0, 0, 0, $transparency);
}

@mixin background($color: transparent, $image: none, $position: 0, $repeat: initial, $size: auto) {
    background-color: $color;
    background-image: url('/img/#{$image}.png');
    background-position: $position;
    background-repeat: $repeat;
    background-size: $size;
}
/* -------------------------------------------------------------------- */
@mixin responsive-flex-direction($min, $max, $direction) {
    @media screen and (min-width: $min) and (max-width: $max) {
        flex-direction: $direction;
    }
}

@mixin responsive-resize($min, $max, $size, $percentual) {
    @media screen and (min-width: $min) and (max-width: $max) {
        @include size(calc($size * $percentual));
    }
}

@mixin responsive-width($min, $max, $width) {
    @media screen and (min-width: $min) and (max-width: $max) {
        width: $width;
    }
}

@mixin responsive-height($min, $max, $height) {
    @media screen and (min-width: $min) and (max-width: $max) {
        height: $height;
    }
}
/* -------------------------------------------------------------------- */
@mixin center {
    margin: auto;
}

@mixin middle {
    @include flex($justify: center);
}

@mixin absolute-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin scroll {
    overflow: auto;
}

@mixin defaultText {
    @include setFont(text);
    font-size: 1.4em;
}
/* -------------------------------------------------------------------- */
@mixin twink-effect {
    @keyframes twink {
        from {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    animation: twink 1.5s infinite;
}