@use 'globals' as global;

$modal-border: 1em;
/* -------------------------------------------------------------------- */
section.mymodal {
	display: none;
 
	background-color: #00000030;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;

	width: 100vw;
	height: 100vh;
}
/* -------------------------------------------------------------------- */
article.conteudo-modal {
	background-color: white;
	border-radius: $modal-border;

	> * {
		padding: 0 15px;
	}

	h2 {
		color: white;
	}
}
/* -------------------------------------------------------------------- */
button.close {
	width: 40px;
	height: 40px;

	padding: 0;

	border-radius: 50%;
}
/* -------------------------------------------------------------------- */
@mixin header-footer($border-top, $border-bottom) {
	height: 10%;

	position: relative;

	background: global.$fade;

	border-top-left-radius: $border-top;
	border-top-right-radius: $border-top;

	border-bottom-left-radius: $border-bottom;
	border-bottom-right-radius: $border-bottom;
}
/* -------------------------------------------------------------------- */

div.modal-header {
    @include header-footer($modal-border, 0);
}

div.modal-footer {
    @include header-footer(0, $modal-border);
}

form.campo {
	flex-direction: column;

	label {
		font-weight: bold;
	}

	input {
		width: 3em;
		font-size: 1em;
	}
}

button#save {
	padding: 0;
	font-size: 1.3em;
	width: 5em;
}
/* -------------------------------------------------------------------- */
section#config-modal {

	article {
		width: 60vh;
		height: 60vh;
	}

	div.modal-corpo {
		height: 80%;
	}
}
/* -------------------------------------------------------------------- */
section#cartao-modal {
    $height-content: 15vh;

	display: block;

	article {
		width: 30vw;
		height: $height-content;
	}

	div.modal-corpo {
		height: 100%;
	}

	form {
		width: 75%;
	}

	input {
		width: 100%;
		font-size: calc($height-content * 0.5);
	}
}

input#cartao {
	width: 75%;
}

button#submit {
    $size: 70px;

	width: $size;
	height: $size;

	padding: 0;
	border-radius: 50%;

	font-size: 0 !important; /* corrigir no styles */
}