@use 'globals' as global;
/* -------------------------------------------------------------------- */
table {
    width: 100%;
    border-spacing: 10px 10px;

    th,
    td {
        color: #ffffff;
        padding: 3px 10px;
        white-space: nowrap;
    }

    th {
        background-color: global.$color1;
        border-radius: 5px 5px 0 0;
    }

    td {
        background-color: global.$color2;
        font-weight: 500;
        border-radius: 5px 0 5px 0;

        text-align: center;
    }

    td.descricao {
        text-align: left;
        border-radius: 0;
    }

    td.operacao {
        background-color: transparent;
        padding: 0;
        width: 10px;

        color: global.$color1;
        font-weight: 700;
    }

    td.seta-tabela {
        font-size: 1.5em;
    }
}