<footer>
    <div class="container">
        <section>
            <h2 data-lang="developers-title">Desenvolvedores</h2>
            <ul>
                <li>
                    <a class="external" href="https://github.com/lincoln-lima" rel="external" target="_blank">Lincoln César Gomes Lima</a>
                </li>
                <li>
                    <a class="external" href="https://github.com/LuizFXavier" rel="external" target="_blank">Luiz Felipe Xavier</a>
                </li>
                <li>
                    <a class="external" href="https://github.com/SamuelNahas" rel="external" target="_blank">Samuel Vieira da Cunha Nahas</a>
                </li>
                <li>
                    <a class="external" href="https://github.com/WilkerSebastian" rel="external" target="_blank">Wilker Sebastian Afonso Pereira</a>
                </li>
            </ul>
        </section>
        <section>
            <h2 data-lang="colaborators-title">Colaboradores</h2>
            <article>
                <h3 data-lang="supervisor-title" class="prequel">Orientador</h3>
                <p>
                    <a class="external" href="http://lattes.cnpq.br/6311632162541654" rel="external" target="_blank">Amaury Antônio de Castro Júnior</a>
                </p>
            </article>
            <article>
                <h3 data-lang="designer-title" class="prequel">Designer</h3>
                <p>&#9733; Gabrielly de Souza Ferreira &#9733;</p>
            </article>
        </section>
    </div>
</footer>