<footer>
    <section>
        <article>
            <p data-lang="developed-by"></p>
            <ul>
                <li>
                    <a class="external" href="https://github.com/lincoln-lima" rel="external" target="_blank">Lincoln César Gomes Lima</a>
                </li>
                <li>
                    <a class="external" href="https://github.com/LuizFXavier" rel="external" target="_blank">Luiz Felipe Xavier</a>
                </li>
                <li>
                    <a class="external" href="https://github.com/SamuelNahas" rel="external" target="_blank">Samuel Vieira da Cunha Nahas</a>
                </li>
                <li>
                    <a class="external" href="https://github.com/WilkerSebastian" rel="external" target="_blank">Wilker Sebastian Afonso Pereira</a>
                </li>
            </ul>
        </article>
        <article>
            <div>
                <p data-lang="orientation-by"></p>
                <p>
                    <a class="external" href="http://lattes.cnpq.br/6311632162541654" rel="external" target="_blank">Amaury Antônio de Castro Júnior</a>
                </p>
            </div>
            <div>
                <p data-lang="designed-by"></p>
                <p>&#9733; Gabrielly de Souza Ferreira &#9733;</p>
            </div>
        </article>
    </section>
</footer>