<footer>
    <section>
        <article>
            <p>Projeto desenvolvido por:</p>
            <ul>
                <li><a href="https://github.com/lincoln-lima" rel="external" target="_blank">Lincoln César Gomes
                        Lima</a></li>
                <li><a href="https://github.com/LuizFXavier" rel="external" target="_blank">Luiz Felipe Xavier</a></li>
                <li><a href="https://github.com/SamuelNahas" rel="external" target="_blank">Samuel Vieira da Cunha
                        Nahas</a></li>
                <li><a href="https://github.com/WilkerSebastian" rel="external" target="_blank">Wilker Sebastian Afonso
                        Pereira</a></li>
            </ul>
        </article>
        <article>
            <div>
                <p>Sob coordenação de:</p>
                <p><a href="http://lattes.cnpq.br/6311632162541654" rel="external" target="_blank">Amaury
                        Antônio de Castro Júnior</a></p>
            </div>
            <div>
                <p>Design composto por:</p>
                <p>Gabrielly de Souza Ferreira</p>
            </div>
        </article>
    </section>
</footer>