<table id="commands">
    <thead>
        <tr>
            <th data-lang="table-command-title" scope="col"></th>
            <th data-lang="table-description-title" scope="col"></th>
            <th scope="colgroup" colspan="5">Assembler</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0EE</td>
            <td data-lang="table-command-0ee-description" class="description"></td>
            <td>AC</td>
            <td class="operation arrow">&#8592;</td>
            <td colspan="3">cEE</td>
        </tr>
        <tr>
            <td>1EE</td>
            <td data-lang="table-command-1ee-description" class="description"></td>
            <td>EE</td>
            <td class="operation arrow">&#8592;</td>
            <td colspan="3">cAC</td>
        </tr>
        <tr>
            <td>2EE</td>
            <td data-lang="table-command-2ee-description" class="description"></td>
            <td>AC</td>
            <td class="operation arrow">&#8592;</td>
            <td>cAC</td>
            <td class="operation">+</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>3EE</td>
            <td data-lang="table-command-3ee-description" class="description"></td>
            <td>AC</td>
            <td class="operation arrow">&#8592;</td>
            <td>cAC</td>
            <td class="operation">-</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>4EE</td>
            <td data-lang="table-command-4ee-description" class="description"></td>
            <td>AC</td>
            <td class="operation arrow">&#8592;</td>
            <td>cAC</td>
            <td class="operation">*</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>5EE</td>
            <td data-lang="table-command-5ee-description" class="description"></td>
            <td>AC</td>
            <td class="operation arrow">&#8592;</td>
            <td>cAC</td>
            <td class="operation">/</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>6EE</td>
            <td data-lang="table-command-6ee-description" class="description"></td>
            <td data-lang="table-assembler-if"></td>
            <td data-lang="table-assembler-then" class="operation"></td>
            <td>EPI</td>
            <td class="operation arrow">&#8592;</td>
            <td>EE</td>
        </tr>
        <tr>
            <td>7EE</td>
            <td data-lang="table-command-7ee-description" class="description"></td>
            <td data-lang="table-assembler-read" colspan="5"></td>
        </tr>
        <tr>
            <td>8EE</td>
            <td data-lang="table-command-8ee-description" class="description"></td>
            <td data-lang="table-assembler-write" colspan="5"></td>
        </tr>
        <tr>
            <td>9EE</td>
            <td data-lang="table-command-9ee-description" class="description"></td>
            <td>EPI</td>
            <td class="operation arrow">&#8592;</td>
            <td colspan="3">cEE</td>
        </tr>
        <tr>
            <td>0-N</td>
            <td data-lang="table-command-0-N-description" class="description"></td>
            <td>AC</td>
            <td class="operation arrow">&#8592;</td>
            <td colspan="3">N</td>
        </tr>
        <tr>
            <td>000</td>
            <td data-lang="table-command-000-description" class="description"></td>
            <td data-lang="table-assembler-end" colspan="5"></td>
        </tr>
    </tbody>
</table>