<table>
    <thead>
        <tr>
            <th scope="col">Comando</th>
            <th scope="col">Descrição</th>
            <th scope="colgroup" colspan="5">Assembler</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0EE</td>
            <td class="descricao">copie valor da gaveta EE (cEE) para AC</td>
            <td>AC</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>1EE</td>
            <td class="descricao">copie valor do AC (cAC) para gaveta EE</td>
            <td>EE</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cAC</td>
        </tr>
        <tr>
            <td>2EE</td>
            <td class="descricao">some cEE ao AC</td>
            <td>AC</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cAC</td>
            <td class="operacao">+</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>3EE</td>
            <td class="descricao">subtraia de AC o cEE</td>
            <td>AC</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cAC</td>
            <td class="operacao">-</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>4EE</td>
            <td class="descricao">multiplique o cAC por cEE</td>
            <td>AC</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cAC</td>
            <td class="operacao">*</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>5EE</td>
            <td class="descricao">divida o cAC por cEE</td>
            <td>AC</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cAC</td>
            <td class="operacao">/</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>6EE</td>
            <td class="descricao">se cAC > 0, vá para EE</td>
            <td>se cAC > 0</td>
            <td class="operacao">então</td>
            <td>EPI</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>EE</td>
        </tr>
        <tr>
            <td>7EE</td>
            <td class="descricao">leia um valor e guarda na gaveta EE</td>
            <td>leia(EE)</td>
        </tr>
        <tr>
            <td>8EE</td>
            <td class="descricao">escreva cEE no dispositivo de saída</td>
            <td>escreva(cEE)</td>
        </tr>
        <tr>
            <td>9EE</td>
            <td class="descricao">vá para cEE</td>
            <td>EPI</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>cEE</td>
        </tr>
        <tr>
            <td>0-N</td>
            <td class="descricao">AC recebe uma constante (truque)</td>
            <td>AC</td>
            <td class="operacao seta-tabela">&#8592;</td>
            <td>N</td>
        </tr>
        <tr>
            <td>000</td>
            <td class="descricao">encerra execução</td>
            <td>fim</td>
        </tr>
    </tbody>
</table>