@use '../globals' as global;
@use '../defaults/default' as default;
@use './in' as index;
/* -------------------------------------------------------------------- */
main {
    max-width: index.$main-width;

    @include global.center;

    div:has(h2) {
        text-align: center;
    }

    .come-to-play {
        width: fit-content;

        @include global.middle;
        @include global.center;
        
        button {
            border-radius: 0.6em;
            padding: 0.2em 0.6em;

            @include global.faded-button;
        }

        .tooltip {
            top: calc(100% + default.$tooltip-size-arr * 2);

            &::after {
                @include global.tooltip-top(default.$tooltip-size-arr);
            }

            .tooltip-text {
                font-size: 0.9em;
            }
        }
    }
    
    section {
        max-width: 75em;
        margin-bottom: 10vh;

        @include global.center;

        article {
            padding-top: index.$header-height;
            padding-bottom: calc(index.$header-height * 0.5);
        }

        &#descricao-hv {
            min-height: 90vh;
            margin-bottom: 15vh;

            @include global.flex($justify: space-around, $wrap: wrap-reverse);

            article {
                max-width: 30em;
                min-height: 30em;

                padding: 1em 0.5em;

                @include global.flex($direction: column);

                hr {
                    margin: 1em 0;
                }
            }

            img {
                max-width: 100%;
            }
        }

        &#instale {
            article {
                $margin-side: 0.5em;

                .icones-so {
                    float: left;
                    margin-right: $margin-side;
                }

                h3 {
                    line-height: index.$icon-so-height;
                }

                ol {
                    margin-top: 3em;
                    margin-left: calc($margin-side * 2.5);

                    li {
                        $margin-side: calc($margin-side * 1.5);
                        
                        position: relative;
                        margin-bottom: 2.5em;

                        &::marker {
                            content: counter(list-item);
                            color: global.$white;
                            font-size: 1.1em;

                            @include global.setFont(title);
                        }

                        &::before {
                            content: "";
                            
                            position: absolute;
                            z-index: -1;

                            top: 6px;
                            left: -1.3em;

                            background-color: global.$color1;

                            @include global.circle;
                            @include global.size(1.8em);
                        }

                        > span {
                            display: block;
                            color: global.$color1;

                            font-size: 1.6em;
                            font-weight: 600;

                            margin-left: $margin-side;

                            @include global.setFont(subtitle);
                        }
                        
                        p {
                            margin-left: calc($margin-side * 1.15);
                        }

                        pre {
                            margin-top: 1.5em;
                            margin-left: calc($margin-side * 1.8);

                            code {
                                margin-right: $margin-side;
                            }

                            .copy {
                                position: sticky;
                                right: 0;
                            }
                        }
                    }
                }
            }
        }

        &#aprenda {
            article {
                h3 {
                    text-transform: uppercase;

                    margin-bottom: 0.5em;
                    @include global.setFont(title);
                }

                &:nth-child(even) h3 {
                    color: global.$color3;
                }

                &:nth-child(odd) h3 {
                    color: global.$color1;
                }

                img {
                    display: block;
                    float: right;

                    padding: 1em;

                    @include global.center;

                    @media screen and (max-width: index.$content-responsive-width) {
                        float: none;
                    }
                }

                &#hv {
                    ul {
                        margin: 1em 0;
                    }
                }

                &#assembly {
                    #table {
                        overflow-x: auto;
                    }
                }

                &#como {
                    pre {
                        max-width: 40em;

                        padding: 1em;
                        margin-top: 1em;
                    }
                }

                &#playground {
                    .come-to-play {
                        margin-top: 2em;
                    }
                }
            }
        }
    }
}