@use '../globals' as global;
@use '../defaults/default' as default;
@use './in' as index;
/* -------------------------------------------------------------------- */
main {
    max-width: index.$main-width;

    @include global.center;

    .tooltiper {
        width: fit-content;
        @include global.center;
        @include global.middle;

        .come-to-play {
            border-radius: 0.6em;
            padding: 0.2em 0.6em;

            @include global.faded-button;
        }

        .tooltip {
            top: calc(100% + default.$tooltip-size-arr * 2);

            &::after {
                @include global.tooltip-top(default.$tooltip-size-arr);
            }

            .tooltip-text {
                font-size: 0.9em;
            }
        }
    }
    
    section {
        max-width: 75em;
        margin-bottom: 10vh;

        @include global.center;

        article {
            padding-top: index.$header-height;
            padding-bottom: calc(index.$header-height * 0.5);

            h3 {
                text-transform: uppercase;

                margin-bottom: 0.5em;
                @include global.setFont(title);
            }

            &:nth-child(even) {
                h3 {
                    color: global.$color3;
                }
            }

            &:nth-child(odd) {
                h3 {
                    color: global.$color1;
                }
            }
        }

        img {
            float: right;
            margin-left: 1em;

            max-width: 100%;
            
            @media screen and (max-width: index.$figures-responsive-width) {
                float: none;
                display: block;

                @include global.center($important: yes);
            }
        }

        &#descricao-hv {
            min-height: 90vh;
            margin-bottom: 15vh;

            @include global.flex($justify: space-around, $wrap: wrap-reverse);

            article {
                max-width: 30em;
                min-height: 30em;

                padding: 1em 0.5em;

                @include global.flex($direction: column);

                h1 {
                    margin-bottom: 0;
                }

                hr {
                    margin: 1em 0;
                }
            }

            img {
                padding: 1em 0;
                max-width: 100%;
            }
        }

        &#aprenda {
            article {
                &#hv {
                    ul {
                        margin: 1em 0;
                    }
                }

                &#assembly {
                    #scroll-table {
                        overflow-x: auto;
                    }
                }

            }
        }

        &#about {
            h2 {
                margin-bottom: 0.5em;
            }
        }
    }

    @media screen and (max-width: index.$font-responsive-width) {
        h1, h2 {
            font-size: 12vw;
        }

        h3 {
            font-size: 10vw;
        }

        .come-to-play {
            font-size: 4vw;
        }
    }
}