@use '../defaults/default' as default;
// ------------------------------------------------------------------------------- 
$header-responsive-width: 900px;

$header-padding: 0.5em;
$header-height: calc($header-padding * 2 + default.$home-height);
// ------------------------------------------------------------------------------- 
$nav-width: 95vw;
// ------------------------------------------------------------------------------- 
$menu-num-buttons: 3;
$menu-width: calc($menu-num-buttons * default.$menu-button-width * 1.3);
$main-width: 95vw;
// ------------------------------------------------------------------------------- 
$sticky-nav-width: 19rem;
$sticky-nav-height: calc(100vh - $header-height);
// ------------------------------------------------------------------------------- 
$spacement-content-nav: 4em; 
// ------------------------------------------------------------------------------- 
$content-width: calc(100% - $sticky-nav-width - $spacement-content-nav);
// ------------------------------------------------------------------------------- 
$responsive-width: 1050px;