@use '../defaults/default' as default;
// ------------------------------------------------------------------------------- 
$header-padding: 10px;
$nav-width: 98vw;
// ------------------------------------------------------------------------------- 
$menu-num-buttons: 3;
$menu-width: calc($menu-num-buttons * default.$menu-button-width * 1.3);
$main-width: 70vw;