@use '../globals' as global;
@use '../defaults/default' as default;
@use './doc' as doc;
// ------------------------------------------------------------------------------- 
main {
    width: doc.$main-width;

    @include global.center;
    @include global.flex($align: flex-start);

    .sticky-nav {
        $max-percentual: 0.8;
        max-width: calc($max-percentual * 100%);

        z-index: 9;
        position: sticky;
        top: doc.$header-height;
        right: - doc.$sticky-nav-width;

        transition: 0.5s;

        @include global.middle;
        @include global.size(doc.$sticky-nav-width, doc.$sticky-nav-height);

        @media screen and (max-width: calc(doc.$sticky-nav-width / $max-percentual)) {
            right: - calc($max-percentual * 100%);
        }

        @media screen and (max-width: doc.$content-responsive-width) {
            position: fixed;
        }

        &.expanded {
            right: 0;
        }

        .content-menu {
            $radius: 1em;
            $font-size: 1.35rem;

            padding-left: 0;
            padding-right: default.$scrollbar-width/2;

            overflow-y: auto;
            max-height: calc($max-percentual * 100%);

            background-color: doc.$color-menu;

            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;

            * {
                text-align: left;
                font-size: $font-size;
            }

            &, ul {
                list-style-type: none;
            }

            ul {
                border-left: 0.25em solid transparent;

                @media screen and (max-width: calc(doc.$sticky-nav-width / $max-percentual)) {
                    padding-left: 0.5em;
                }
            }

            li {
                border-top-left-radius: $radius;
                border-bottom-left-radius: $radius;

                &:has(+li > ul) {
                    border-bottom-left-radius: 0;
                }

                & + li > ul {
                    padding-top: 0.1em;
                    padding-bottom: 0.1em;
                }

                &:not(:has(> ul)) {
                    padding-left: 0.5em;

                    &:hover {
                        font-weight: bold;
                        background-color: global.$color1;

                        &:has(+li > ul) ~ li > ul {
                            border-left-color: global.$color1;
                            background-color: #{global.$black}15;
                        }
                    }

                    &:active {
                        background-color: global.$color2;

                        &:has(+li > ul) ~ li > ul {
                            border-left-color: global.$color2;
                        }
                    }
                }

                a {
                    display: block;
                }
            }
        }

        .show-nav {
            $size: 2.5em;

            top: 50%;
            z-index: 9;
            position: fixed;

            border-radius: $size 0 0 $size;

            right: 0;

            &::before {
                content: "\25c0";
            }

            @include global.faded-button;
            @include global.size(calc($size/2), $size);

            @media screen and (min-width: (doc.$content-responsive-width + 1)) {
                display: none;
            }

            &.expanded {
                box-shadow: none;
                right: doc.$sticky-nav-width;

                @media screen and (max-width: calc(doc.$sticky-nav-width / $max-percentual)) {
                    right: calc($max-percentual * 100%);
                }

                &::before {
                    content: "\25b6";
                }
            }
        }
    }

    .content {
        margin-bottom: 1em;
        width: doc.$content-width;

        @media screen and (max-width: doc.$content-responsive-width) {
            width: 100%;
            @include global.center;
        }

        section {
            padding-top: doc.$header-height;

            &#exemplos {
                ol {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
            }

            ul {
                margin-top: 1em;
            }

            figure {
                padding: 2.5em 0;
                text-align: center;

                figcaption {
                    margin-bottom: 0.5em;
                }

                img {
                    max-width: 100%;

                    filter: drop-shadow(0.3em 0.3em 0.5em #{global.$black}30);
                }
            }

            article {
                padding-top: doc.$header-height;

                &#instrucoes {
                    ul {
                        list-style-type: disclosure-closed;

                        li:not(:last-child) {
                            margin-bottom: 1em;
                        }
                    }
                }

                &#comparacao {
                    ul {
                        margin-top: 0;
                        list-style-type: square;
                    }
                }
            }
        }
    }

    @media screen and (max-width: doc.$font-responsive-width) {
        h1 {
            font-size: 12vw;
        }

        h2 {
            font-size: 10vw;
        }

    }
}